<div >
    <h3>Rangeland Analysis Platform<sup class="beta">BETA</sup></h3>
    <div class="subtitle">
        Vegetation Cover
        <app-popover >
                The vegetation cover data provides annual percent cover estimates at 30 m
                resolution from 1984 to 2019 of: annual forb and grass, perennial forb and
                grass, shrub, tree, and bare ground.<br>
                <a target="_info" href="https://rangelands.app/products/">More information.</a>
        </app-popover>
    </div>
    <app-landcover-control></app-landcover-control>
</div>
