<div *ngIf="!overlay?.selected_type?.legend?.categories">
    <div class="legend-label">{{overlay.selected_type.legend.label}}</div>
    <div class="legend-container">
        <div class="min-label">{{overlay.selected_type.legend.min}}</div>
        <div class="legend" [ngStyle]="{'background': 'linear-gradient(to right, ' + overlay.selected_type.legend.palette.join(',') + ')'}"></div>
        <div class="max-label">{{overlay.selected_type.legend.max}}</div>
    </div>
</div>
<div class="categorical-legend" *ngIf="overlay?.selected_type?.legend?.categories">
    <div class="category" *ngFor="let category of overlay.selected_type.legend.categories">
        <div class="category-label">{{category.label}}</div>
        <div class="category-color" [ngStyle]="{'background-color':category.color}"></div>
    </div>
</div>

