
<div class="app-container">
  <!-- Map Background -->
  <div class="map-container">
    <app-map
        lat=39
        lng=-98
        zoom=5
        basemap="terrain"></app-map>
  </div>

  <!-- Controls Panel -->
  <div class="controls-panel" [class.mobile-hidden]="isMobile && !showControls" [class.mobile-visible]="isMobile && showControls">
    <div class="panel-header">
      <span class="panel-title">Rangeland Analysis Platform</span>
      <app-control-panel-toggle
        [(value)]="leftToggle"
        position="inner-top-right"
        type="collapse-up"
        *ngIf="!isMobile">
      </app-control-panel-toggle>
      <button class="mobile-close-btn" *ngIf="isMobile" (click)="toggleControls()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="panelContent" [ngStyle]="{'max-height': (!isMobile && leftToggle) || (isMobile && showControls) ? 'calc(100vh - 120px)' : '0px'}">
      <mat-tab-group
        [selectedIndex]="tabIndex"
        (selectedIndexChange)="tabIndexChanged($event)">
        <mat-tab label="Vegetation">
          <ng-template matTabContent>
            <app-landcover-control></app-landcover-control>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <!-- Analysis Panel -->
  <div *ngIf="analysis.geojson && (analysis.analysis_complete || analysis.analysis_running)"
    class="analysis-panel" [class.mobile-hidden]="isMobile && !showAnalysis" [class.mobile-visible]="isMobile && showAnalysis">
    <div class="panel-header">
      <span class="panel-title"></span>
      <app-control-panel-toggle
        [(value)]="rightToggle" 
        position="inner-top-right"
        *ngIf="!isMobile">
      </app-control-panel-toggle>
      <button class="mobile-close-btn" *ngIf="isMobile" (click)="toggleAnalysis()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="panelContent" [ngStyle]="{
      'max-height': (!isMobile && rightToggle) || (isMobile && showAnalysis) ? 'calc(100vh - 120px)' : '0px'
    }">
  <mat-tab-group>
    <mat-tab label="Cover 30m">
        <app-landcover-trend-chart
        width="400"
        showPopOut="true"
        showPrint="true"
        showDownload="true"
        trend="annual_cover"
        ></app-landcover-trend-chart>
    </mat-tab>    <!-- <mat-tab label="Cover 10m">
      <app-landcover-trend-chart
      width="400"
      showPopOut="true"
      showPrint="true"
      showDownload="true"
      trend="meteo_10"
      ></app-landcover-trend-chart>
    </mat-tab> -->    <!-- TEST -->
    <mat-tab label="Cover 10m">
      <app-landcover-trend-chart
      width="400"
      showPopOut="true"
      showPrint="true"
      showDownload="true"
      trend="combined_cover_10"
      ></app-landcover-trend-chart>
    </mat-tab>
    <!-- TEST -->
    <mat-tab label="Annual biomass">
      <app-landcover-trend-chart
        width="400"
        showPopOut="true"
        showPrint="true"
        showDownload="true"
        trend="annual_biomass"
        ></app-landcover-trend-chart></mat-tab>
     <mat-tab label="16-day biomass">
          <app-landcover-trend-chart
            width="400"
            showPopOut="true"
            showPrint="true"
            showDownload="true"
            filterField="year"
            trend="biweekly_biomass"
            defaultFilterValue=2019
        ></app-landcover-trend-chart>
      </mat-tab>
      <!-- <mat-tab label="Invasive annual grass cover 10m">
        <app-landcover-trend-chart
        width="400"
        showPopOut="true"
        showPrint="true"
        showDownload="true"
        trend="invasive_cover_10"
        ></app-landcover-trend-chart>
    </mat-tab>
    <mat-tab label="PJ cover 10m">
      <app-landcover-trend-chart
      width="400"
      showPopOut="true"
      showPrint="true"
      showDownload="true"
      trend="pj_cover_10"
      ></app-landcover-trend-chart>
    </mat-tab>
    <mat-tab label="Sagebrush cover 10m">
      <app-landcover-trend-chart
      width="400"
      showPopOut="true"
      showPrint="true"
      showDownload="true"
      trend="sagebrush_cover_10"
      ></app-landcover-trend-chart>
    </mat-tab> -->
    
      

    <!-- <mat-tab label="Cover 10m">
      <app-landcover-trend-chart
      width="400"
      showPopOut="true"
      showPrint="true"
      showDownload="true"
      trend="cover_10"
      ></app-landcover-trend-chart>
  </mat-tab> -->

  <mat-tab label="Gap Cover 10m">
    <app-landcover-trend-chart
    width="400"
    showPopOut="true"
    showPrint="true"
    showDownload="true"
    trend="gap_cover_10_combined"
    ></app-landcover-trend-chart>    </mat-tab> 

  </mat-tab-group>

  </div>
</div>

  <!-- Mobile Control Buttons -->
  <div class="mobile-controls" *ngIf="isMobile">
    <button class="mobile-toggle-btn" (click)="toggleControls()">
      <mat-icon>layers</mat-icon>
    </button>
    <button class="mobile-toggle-btn" 
            *ngIf="analysis.geojson && (analysis.analysis_complete || analysis.analysis_running)"
            (click)="toggleAnalysis()">
      <mat-icon>analytics</mat-icon>
    </button>
  </div>

  <app-short-link tourAnchor="share-map"></app-short-link>
</div>
