
<div  class="left panel">
  <span class="panel-title">Rangeland Analysis Platform</span> <app-control-panel-toggle
    [(value)]="leftToggle"
    position="inner-top-right"
    type="collapse-up"
    ></app-control-panel-toggle>
  <div class="panelContent" [ngStyle]="{'max-height' : leftToggle ? 'calc(100vh - 70px)': '0px'}">
    <mat-tab-group
      [selectedIndex]="tabIndex"
      (selectedIndexChange)="tabIndexChanged($event)">
      <mat-tab label="Vegetation">
        <ng-template matTabContent>
          <app-landcover-control ></app-landcover-control>
        </ng-template>
      </mat-tab>
      <!-- <mat-tab label="Sagebrush conservation">
        <ng-template matTabContent>
          <app-sagebrush-conservation></app-sagebrush-conservation>
        </ng-template>
      </mat-tab> -->
      <!-- <mat-tab label="Great Plains conservation">
        <ng-template matTabContent>
          <app-great-plains-conservation></app-great-plains-conservation>
        </ng-template>
      </mat-tab> -->
    </mat-tab-group>
  </div>
</div>
<div *ngIf="analysis.geojson && (analysis.analysis_complete || analysis.analysis_running)"
  class="right panel">
  <span class="panel-title"></span> <app-control-panel-toggle
    [(value)]="rightToggle" position="inner-top-right"></app-control-panel-toggle>
  <div class="panelContent" [ngStyle]="{
    'max-height' : rightToggle ? 'calc(100vh - 70px)': '0px'
  }">
  <mat-tab-group>
    <mat-tab label="Cover 30m">
        <app-landcover-trend-chart
        width="400"
        showPopOut="true"
        showPrint="true"
        showDownload="true"
        trend="annual_cover"
        ></app-landcover-trend-chart>
    </mat-tab>
    <mat-tab label="Cover 10m">
      <app-landcover-trend-chart
      width="400"
      showPopOut="true"
      showPrint="true"
      showDownload="true"
      trend="meteo_10"
      ></app-landcover-trend-chart>
    </mat-tab>
    <!-- TEST -->
    <mat-tab label="Combined cover 10m">
      <app-landcover-trend-chart
      width="400"
      showPopOut="true"
      showPrint="true"
      showDownload="true"
      trend="combined_cover_10"
      ></app-landcover-trend-chart>
    <!-- TEST -->
  </mat-tab>
    <mat-tab label="Annual biomass">
      <app-landcover-trend-chart
        width="400"
        showPopOut="true"
        showPrint="true"
        showDownload="true"
        trend="annual_biomass"
        ></app-landcover-trend-chart></mat-tab>
     <mat-tab label="16-day biomass">
          <app-landcover-trend-chart
            width="400"
            showPopOut="true"
            showPrint="true"
            showDownload="true"
            filterField="year"
            trend="biweekly_biomass"
            defaultFilterValue=2019
        ></app-landcover-trend-chart>
      </mat-tab>
      <!-- <mat-tab label="Invasive annual grass cover 10m">
        <app-landcover-trend-chart
        width="400"
        showPopOut="true"
        showPrint="true"
        showDownload="true"
        trend="invasive_cover_10"
        ></app-landcover-trend-chart>
    </mat-tab>
    <mat-tab label="PJ cover 10m">
      <app-landcover-trend-chart
      width="400"
      showPopOut="true"
      showPrint="true"
      showDownload="true"
      trend="pj_cover_10"
      ></app-landcover-trend-chart>
    </mat-tab>
    <mat-tab label="Sagebrush cover 10m">
      <app-landcover-trend-chart
      width="400"
      showPopOut="true"
      showPrint="true"
      showDownload="true"
      trend="sagebrush_cover_10"
      ></app-landcover-trend-chart>
    </mat-tab> -->
    
      

    <!-- <mat-tab label="Cover 10m">
      <app-landcover-trend-chart
      width="400"
      showPopOut="true"
      showPrint="true"
      showDownload="true"
      trend="cover_10"
      ></app-landcover-trend-chart>
  </mat-tab> -->

  <!-- <mat-tab label="gapCover 10m">
    <app-landcover-trend-chart
    width="400"
    showPopOut="true"
    showPrint="true"
    showDownload="true"
    trend="gap_cover_10"
    ></app-landcover-trend-chart> -->
<!-- </mat-tab> -->

  </mat-tab-group>
  



  </div>
</div>
<app-short-link tourAnchor="share-map"></app-short-link>

<div class="background">
  <app-map
      lat=39
      lng=-98
      zoom=5
      basemap="terrain"></app-map>
</div>
