<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Navigating the Platform - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="This introductory tutorial on Navigating the Rangeland Analysis Platform has four articles that introduce you to different aspects of the web application at ran"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="17-navigating-the-platform"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Navigating the Platform" />
    <meta name="twitter:description" content="This introductory tutorial on Navigating the Rangeland Analysis Platform has four articles that introduce you to different aspects of the web application at ran"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/support">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Navigating the Platform</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <h1 id="top"></h1>
              <iframe width="700" height="393" src="https://www.youtube.com/embed/lY2-ApD2sec" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe>
              <p> <br> This introductory tutorial on Navigating the Rangeland Analysis Platform has four articles that introduce you to different aspects of the web application at rangelands.app:</p>
              <section class="callout-blue">
               <ol> 
                <li>The <a href="/support/23-the-map-layers-panel"><strong>Map Layers&nbsp;Panel</strong></a>, within which you can control the data visualized on the interactive map,</li> 
                <li>The <a href="/support/26-the-analysis-panel"><strong>Analysis Panel</strong></a>, which both provides helpful summaries of RAP data for your region of interest and allows you to export data summaries for further analysis, and</li> 
                <li>The <a href="/support/25-the-interactive-map"><strong>Interactive Map</strong></a>, which allows you to navigate and zoom to different locations and make adjustments to how data are displayed.</li>
               </ol>
               <p style="font-size:18px"> Additionally, one of the critical pieces of the RAP is your ability to <a href="/support/24-analyzing-your-region-of-interest"><strong>analyze your region of interest</strong></a>.&nbsp;</p>
              </section>
              <p>These articles can be followed sequentially using the arrows at the end of each article. Enjoy!</p>
              <p> <img src="/assets/images/rap-support-17-1.png" style="width: 1048px;"></p>
              <figcaption>
                The RAP web application is comprised of three main components: the map layers panel, the interactive map, and the analysis panel. 
               <br> 
              </figcaption> 
              <div class="callout callout-success">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
               <img src="https://i.ibb.co/mbZbzXV/forward.png" width="50" height="50"> 
               <span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to the next article describing <a href="/support/23-the-map-layers-panel"><strong>the Map Layers Panel.</strong></a></span> 
              </div>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-03-18 >Last updated on March 18, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul> 
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


