

<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8"/>
    <title>View RAP data in your GIS - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Data in the RAP can be easily imported and viewed in ArcGIS without downloading big datasets. This allows for quick interaction with and visualization of the da"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="19-view-rap-data-in-your-gis"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="View RAP data in your GIS" />
    <meta name="twitter:description" content="Data in the RAP can be easily imported and viewed in ArcGIS without downloading big datasets. This allows for quick interaction with and visualization of the da"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">View RAP data in your GIS</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <p>Data in the RAP can be easily imported and viewed in ArcGIS without downloading big datasets. This allows for quick interaction with and visualization of the data. For instance, users can add vegetation cover to a pre-existing project map. These data can be viewed as a web map tile service (WMTS) using the steps below.</p>
              <p> URLs:</p>
              <p> Vegetation - <a href="/assets/wmts/vegetationWMTS.xml">https://rangelands.app/wmts/vegetationWMTS.xml</a></p>
              <p> <strong>Connect to WMTS:</strong></p>
              <p> 1. In ArcMap, select Add Data, select GIS servers. Then select “Add WMTS Server”.&nbsp;&nbsp;</p>
              <p> <img src="/assets/images/rap-support-19-1.png" style="width: 373px;"></p>
              <p> Type in the URL (listed above) for the desired datasets: You do not need to enter a user or password.</p>
              <p> <img src="/assets/images/rap-support-19-2.png" style="width: 347px;">2. Click “Get Layers” to see available layers.</p>
              <p> 3. Click “OK”.</p>
              <p> <strong>To add the data to the map:</strong></p>
              <p> 1.&nbsp; In your Add Data window with GIS Servers selected you will see the recently added rangelands.app WMTS</p>
              <p> <img src="/assets/images/rap-support-19-3.png" style="width: 424px;"></p>
              <p> 2. Double-click on the raneglands.app WMTS, select the layer to view (e.g. "Annual forb and grass biomass 2010" or "Herbaceous biomass 2019"), click Add.</p>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-02-08 >Last updated on February 8, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


