
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Guiding principles for using maps in rangeland monitoring - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="This article is adapted from the manuscript Guiding principles for using satellite-derived maps in rangeland monitoring. The use of satellite-derived maps in ra"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="22-guiding-principles"/>    
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Guiding principles for using maps in rangeland monitoring" />
    <meta name="twitter:description" content="This article is adapted from the manuscript Guiding principles for using satellite-derived maps in rangeland monitoring. The use of satellite-derived maps in ra"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/support">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Guiding principles for using maps in rangeland monitoring</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <p> <em><strong>This article is adapted from the manuscript&nbsp;</strong></em><a href="https://www.sciencedirect.com/science/article/pii/S0190052821000845#:~:text=Therefore%2C%20we%20offer%20four%20guiding,and%204)%20think%20critically%20about"><strong><em>Guiding principles for using satellite-derived maps in rangeland monitoring.</em></strong></a></p>
              <p> The use of satellite-derived maps in rangeland monitoring dates back fifty years. In recent years, advancements have catapulted the discipline into a new era in which consistent map products spanning broad geographies and time periods are increasingly available. However, until now, relatively little emphasis has been placed on training natural resource professionals to properly use and interpret satellite-derived maps, especially when compared to field-based methods. These four guiding principles are intended to help users think critically when using maps in rangeland management.</p>
              <h2>Principle 1: Use maps within a decision-making framework</h2>
              <p> Maps supply an abundance of data, providing a spatial and temporal perspective unparalleled by other sources. It is critical to remember, however, that maps are used to inform decisions, but do not actually make decisions. The quantity, availability, and ease-of use of recently produced maps creates an invitation to apply them without thinking through a decision-making framework beforehand.</p>
              <p> Before using maps, start with clear objectives centered on the desired management actions or decisions. Then, consider the strengths and limitations of maps relative to the objectives identified. Different tools are better suited to inform different questions, and maps will not be the best tool for every management application and scale.&nbsp;</p>
              <h2>Principle 2: Use maps to better understand and embrace landscape variability</h2>
              <p> Rangeland management occurs on landscapes. Although obvious, it is important to remember that these landscapes are spatially and temporally heterogeneous; that is, they are variable across space and through time. Given this variability, an important question is, how do we best represent the areas that we manage?</p>
              <p> Traditionally, plot-level soils and vegetation data have been collected to inform management. However, in isolation they cannot provide information about landscape variability. Satellite-derived maps, on the other hand, provide a more spatially comprehensive and temporally continuous perspective. When heterogeneity is embraced, maps provide an opportunity to use landscape-wide data to address management questions relating to the distribution and magnitude of heterogeneity across the landscape.&nbsp;</p>
              <p> <img src="/assets/images/rap-support-22-1.png" width="565" height="474" style="margin-top: 0px;"></p>
              <figcaption>
                Traditional rangeland vegetation monitoring measures a single discrete location at a single time, as depicted on the image on the left. This type of approach, while useful, does not necessarily provide information about the vegetation outside of the plot sampled or at other points in time. Satellite-derived maps fill in data gaps in interspaces between vegetation monitoring plots in both space and time and, as a result, better describe landscape heterogeneity. 
              </figcaption>
              <p> &nbsp;</p>
              <h2> Principle 3: Keep error in perspective</h2>
              <p> Real or perceived error can be a barrier to the adoption of satellite-derived maps. It is important to remember, however, that error is part of all rangeland measurements, but it isn’t often quantified. The fact that maps have error does not automatically mean they are less accurate or less useful than other data sources.</p>
              <p> On a practical level, users must weigh map error and accuracy against the value of the map’s representation of landscape variability. Although map error may appear unacceptably high in some circumstances, it is important to consider error in the context of the decisions that are being made and the alternative information sources available. For many management decisions, low error may not be needed to come to a management conclusion.&nbsp;</p>
              <p> <img src="/assets/images/rap-support-22-2.png" width="538" height="299" style="margin-top: 0px;"></p>
              <figcaption>
                Satellite-derived rangeland vegetation maps, like all rangeland vegetation datasets, have some amount of error associated with their measurements. It is important to keep in mind that the on-the-ground reality may vary from the satellite-derived estimate. 
              </figcaption>
              <p> &nbsp;</p>
              <h2>Principle 4: Think critically about contradictions</h2>
              <p> Users of satellite-derived maps are occasionally faced with contradictions from their own world view, other data sources, or other maps. When contradictions occur, it is important to step back and consider the various sources of information relative to the decision being made.&nbsp; Because they may be unfamiliar, maps can be the first criticized, disparaged, or removed from the decision-making process. Due to the abundance of data available in maps, users can zoom in on any pixel in the landscape and determine that the pixel is mapped incorrectly. Doing so, however, ignores the many advantages and efficiencies that maps provide. We not to ‘throw the baby out with the bath water’ but instead to think critically about and understand the contradictions.</p>
              <p> When maps contradict other information, including our own perspective, we should question both the maps and the other information. Upon consideration, it may be that they are not as contradicting as originally thought, or that they represent different perspectives. We may learn that the map is not suitable for a specific decision, that another dataset is not appropriate for comparison, or that our own perspective is biased and incomplete. A clear and well defined decision-making framework (Principle 1) will help resolve contradictions when they occur.</p>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2022-01-13 >Last updated on January 13, 2022</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support">Support home  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


