<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>The Map Layers Panel - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="The  Map Layers Panel is your dashboard for controlling the map data that will be displayed and the analysis that you will perform. The first thing that you wil"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="23-the-map-layers-panel"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="The Map Layers Panel" />
    <meta name="twitter:description" content="The  Map Layers Panel is your dashboard for controlling the map data that will be displayed and the analysis that you will perform. The first thing that you wil"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/support">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">The Map Layers Panel</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <h1></h1> 
              <iframe width="700" height="393" src="https://www.youtube.com/embed/z4g5XVdtUe8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe> 
              <p> <br> The&nbsp; <em style="background-color: initial;">Map Layers Panel</em>&nbsp;is your dashboard for controlling the map data that will be displayed and the analysis that you will perform. The first thing that you will notice is the three tabs at the top of the panel for&nbsp;<em style="background-color: initial;">Vegetation, Sagebrush conservation,&nbsp;</em>and&nbsp;<em style="background-color: initial;">Great Plains conservation.&nbsp;</em> </p> 
              <p> <em style="background-color: initial;"></em>The Vegetation tab allows you to view the <strong>vegetation cover </strong>and <strong>biomass</strong> data that are the foundation of RAP, while the other two tabs provide <strong>supplementary data layers</strong>. In this article, we'll focus almost exclusively on the&nbsp;<em style="background-color: initial;">Vegetation</em>&nbsp;tab, with only some detail given to the supplemental data layers. </p> 
              <section class="callout-blue"> 
               <p style="font-size:18px"> <strong> Contents:</strong> </p> 
               <ul> 
                <li><strong><a href="#veg-cover">Mapping Vegetation Cover</a></strong></li> 
                <li><strong><a href="#biomass">Mapping Aboveground Biomass</a><br> </strong></li>
               </ul> 
              </section> 
              <h1><a name="veg-cover"></a>Mapping Vegetation Cover</h1> 
              <p> There are five plant functional types (PFTs) that are mapped by RAP: </p> 
              <ul> 
               <li>Perennial Forb &amp; Grass cover</li> 
               <li>Annual Forb &amp; Grass cover</li> 
               <li>Shrub cover</li> 
               <li>Tree cover</li> 
               <li>Bare ground cover</li> 
              </ul> 
              <p> The vegetation cover dataset provides maps for every year between 1984 – present. Not only can RAP help to provide historical and spatial context for the rangeland landscapes that you work in, but it can help to quantify&nbsp;trends and trajectories. </p> 
              <section class="callout-yellow"> 
               <strong>Note: </strong>You can learn more about the 
               <a href="/support/48-vegetation-cover-model"><strong>V</strong><strong>egetation Cover data</strong></a> in our explainer article. 
              </section> 
              <p> <img src="/assets/images/rap-support-23-1.gif" style="width: 722px;"> </p> 
              <figure>
                <figcaption> 
                   Use the vegetation cover layer dropdown to toggle the vegetation functional group layer displayed in the map. 
                </figcaption> 
              </figure>
              <h4>Loess Canyons example</h4> 
              <section class="callout-green"> 
               <a href="/rap/?biomass_t=herbaceous&amp;ll=40.8473,-100.4649&amp;z=11&amp;landcover_t=tree&amp;landcover_y=1990&amp;basemap=hybrid&amp;year=2017&amp;mask=hide&amp;landcover_o=0.9&amp;landcover_v=true"><strong>This link will take you to the Loess Canyons region in RAP so you can interact with the maps displayed below.</strong></a> 
              </section> 
              <p> In exploring the historical vegetation cover data in RAP, we'll focus on an example of&nbsp;conifer expansion in a portion of southern Nebraska called the Loess Canyons.&nbsp; </p> 
              <p> The Loess&nbsp;Canyons&nbsp;region has experienced rapid expansion by Eastern Red Cedar conifer trees into grassland habitats, a trend that has occurred in other areas of the Great Plains leading to significant changes in herbaceous biomass production and habitat quality. As we proceed, remember that this is just one application of the vegetation cover dataset and that RAP was designed to be flexible to your data needs. </p> 
              <p> To evaluate tree cover in the Loess&nbsp;Canyons, we select the tree cover layer and use the "year" dropdown (highlighted in red in the maps below) to compare tree&nbsp;cover in 1990 to that of 2019.&nbsp;Immediately, we can see that tree cover is much more widespread today than it was 30 years ago.&nbsp;You are also encouraged to explore the incremental change that has occurred between those two years using the year dropdown menu. </p> 
              <p> <img src="/assets/images/rap-support-23-2.png"> </p> 
              <figcaption>
                Maps of tree cover in the Loess Canyons region of Nebraska from 1990 (above) and 2019 (below). RAP helps us to see that tree cover has rapidly expanded over the course of the past three decades. 
              </figcaption> 
              <p> &nbsp; </p> 
              <h1><a name="biomass"></a>Mapping Aboveground Biomass</h1> 
              <p> Mapping annual aboveground biomass follows essentially the same procedure as mapping vegetation cover described in the previous section. To toggle to Biomass mapping, click the&nbsp; <em>switch</em>&nbsp;next to Biomass in the Map Layers Panel. Then you will have three data layers available to you: </p> 
              <ul> 
               <li>Herbaceous (the sum of Annual Forb &amp; Grass and Perennial Forb &amp; Grass)</li> 
               <li>Annual Forb &amp; Grass</li> 
               <li>Perennial Forb &amp; Grass</li> 
              </ul> 
              <section class="callout-yellow"> 
               <strong>Note: </strong>You can learn about the 
               <a href="/support/49-herbaceous-biomass-model" style="font-weight: bold;">Herbaceous Biomass&nbsp;<strong>data</strong></a> in our explainer article. 
              </section> 
              <p> <strong> <img src="/assets/images/rap-support-23-3.gif" style="width: 977px;"></strong> </p> 
              <figure> 
               <figcaption>
                 Use the biomass layer dropdown to toggle the biomass layers that are displayed in the map. 
               </figcaption>
              </figure> 
              <h4>Hot Pot Fire example</h4> 
              <section class="callout-green"> 
               <strong> <a href="/rap/?biomass_t=afg&amp;ll=41.0502,-116.6601&amp;z=11&amp;year=2016&amp;mask=hide&amp;biomass_y=2015&amp;biomass_o=1&amp;fire=show&amp;basemap=hybrid&amp;landcover_t=tree&amp;biomass_v=true&amp;landcover_v=true"><strong>This link will take you to the interactive map in RAP of the Hot Pot Fire.</strong></a> </strong> 
              </section> 
              <p> Biomass maps have many potential applications. In this tutorial, we will explore 2016's Hot Pot fire, which burned over 120,000 acres in Northern Nevada.&nbsp; </p> 
              <p> In the portion of the Great Basin in which the Hot Pot fire burned, annual grasses like cheatgrass drive wildfire cycles by making fires more frequent. Because RAP tracks Annual Forb and Grass biomass production, it can be useful for uncovering relationships between production and wildfire risk. In the two maps below, displayed on top is a roughly average Annual Forb and Grass biomass production year (2009) and on the bottom is&nbsp;Annual Forb and Grass biomass from&nbsp;2015, the year preceding the Top Pot fire. In both maps, the "Display Fire Boundaries" switch is turned on for 2016 to show the outline of the Hot Pot fire. 2015 was a near-record year for Annual Forbs &amp; Grass production in this region and may have contributed to this large fire. </p> 
              <p> <strong> <img src="/assets/images/rap-support-23-4.png"></strong> </p> 
              <figure> 
               <figcaption>
                 Maps of the annual forb and grass herbaceous biomass layer for the Top Pot fire (2016) in northern Nevada. The map on top displays an average biomass year (2009), while the bottom map displays a high biomass year for the year prior to the fire (2015). 
               </figcaption>
              </figure> 
              <p> Aboveground biomass is the newest addition to the RAP and builds on the vegetation cover products discussed above. The models that produce the biomass maps incorporate data from satellite remote sensing, weather measurements, and the RAP vegetation cover data — importantly, these models account for variability in production between different vegetation communities. <a href="/products/#biomass">More information about these products can be found here.</a> </p> 
              <section class="callout-yellow">
                Note: Near-real-time 16-day biomass estimates are available within RAP as well through the Analysis Panel discussed below. 16-day biomass maps are not currently available in rangelands.app because of technical constraints. 
              </section> 
              <h3></h3> 
              <div class="callout callout-success">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                <img src="https://i.ibb.co/mbZbzXV/forward.png" width="50" height="50"> 
                <span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to the next article <a href="/support/24-analyzing-your-region-of-interest"><strong>Analyzing your Region of Interest.</strong></a></span> 
              </div>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-03-31 >Last updated on March 31, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


