<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Analyzing your Region of Interest - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="There are currently three ways to analyze your region of interest in RAP: Draw a feature using the Draw features button. Upload a zipped shapefile using the Upl"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="24-analyzing-your-region-of-interest"/>    
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Analyzing your Region of Interest" />
    <meta name="twitter:description" content="There are currently three ways to analyze your region of interest in RAP: Draw a feature using the Draw features button. Upload a zipped shapefile using the Upl"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="/assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>        
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Analyzing your Region of Interest</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <h3 id="analyze-roi"></h3> 
              <iframe width="700" height="393" src="https://www.youtube.com/embed/TS5U7c2wdRw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe> 
              <p> <br> <strong>There are currently three ways to analyze your region of interest in RAP:</strong> </p> 
              <section class="callout-blue"> 
               <ol> 
                <li>Draw a feature using the&nbsp;<strong><a href="#draw">Draw features</a></strong>&nbsp;button.</li> 
                <li>Upload a zipped shapefile using the <strong><a href="#shapefile">Upload shapefile</a></strong> button.</li> 
                <li>Select a pre-loaded fire boundary polygon using the <strong><a href="#fire">Display fire boundaries</a></strong><strong></strong>&nbsp;switch.</li> 
               </ol> 
              </section> 
              <p> You can review procedures for loading these different geometries in the table below and in the demonstrations below the table: </p> 
              <div class="tabs"> 
               <div class="tab"> 
                <input type="radio" id="tab-1" name="tab-group-1" checked> 
                <label for="tab-1">Draw features directly on map</label> 
                <div class="content"> 
                 <ol> 
                  <li>Click the ‘Draw Features’ button. The default option is to draw polygons. If a point or line feature is desired, click the point or line buttons in the top left corner of the map panel.</li> 
                  <li>Draw features on the map over region(s) of interest. Multiple features can be drawn.</li> 
                  <li>Click the ‘Calculate Time Series’ button.</li> 
                  <li>A graph will appear when calculations are finished.</li> 
                  <li>If multiple features were drawn, click a feature to view its time series.</li> 
                 </ol> 
                </div> 
               </div> 
               <div class="tab"> 
                <input type="radio" id="tab-2" name="tab-group-1"> 
                <label for="tab-2"> Upload shapefile</label> 
                <div class="content"> 
                 <ol> 
                  <li>The shapefile may contain point, line, or polygon geometries.</li> 
                  <li>Compress the shapefile to .zip format containing the .shp, .shx, .dbf, and .prj files. The&nbsp;other files within a shapefile are optional. NOTE: If the .prj (projection) file is not&nbsp;provided, GCS WGS84 is assumed.</li> 
                  <li>Click the ‘Upload shapefile’ button.</li> 
                  <li>Navigate to the compressed (.zip) shapefile. Select the file and click open. The map&nbsp;panel will zoom to the spatial extent of the shapefile.</li> 
                  <li>Click the ‘Calculate time series’ button.</li> 
                  <li>A graph will appear when calculations are finished.</li> 
                  <li>If multiple features were in the shapefile, click on a feature to view its time series.</li> 
                 </ol> 
                </div> 
               </div> 
               <div class="tab"> 
                <input type="radio" id="tab-3" name="tab-group-1"> 
                <label for="tab-3">Pre-loaded fire boundaries</label> 
                <div class="content"> 
                 <ol> 
                  <li>Toggle the ‘Display fire boundaries for selected year’ option. Fire boundaries are from the Monitoring Trends in Burn Severity (MTBS) geodatabase, currently available from&nbsp;1984-2016. If other years are selected in the Year drop-down box, fire boundaries will not appear.</li> 
                  <li>Click on a fire boundary. The Fire Name, Fire Start Date, and Fire Size (acres) will&nbsp;appear in a small pop-up dialog.</li> 
                  <li>Click Calculate time series within the pop-up dialog. (Clicking ‘Calculate time series’ in&nbsp;the left-hand panel will not produce a time series chart for fire boundaries.)</li> 
                 </ol> 
                </div> 
               </div> 
              </div> 
              <h2><a name="draw"></a>Drawing a feature</h2> 
              <p> The "Draw features" button allows you to draw point, line, or polygon features. After clicking the button you will automatically be able to draw on the map. To finish your geometry simply double-click and the Analysis Panel will immediately initiate. </p> 
              <p> Watch the below animation to see how an example of how to draw a polygon in the area of the Loess Canyons. </p> 
              <p> <img src="/assets/images/rap-support-24-1.gif" style="width: 1064px;"> </p> 
              <figcaption>
                Demonstration of drawing a polygon feature in RAP — a similar operation can be performed for point and line geometries. A double-click ends the geometry creation. 
               <br> 
              </figcaption> 
              <p> &nbsp; </p> 
              <h2><a name="shapefile"></a>Loading a Shapefile</h2> 
              <p> Your shapefile can be comprised of multiple features or a single feature and can be point, line, or polygon data. Upload your zipped polygon file using the procedure described in the table above. Once it opens, click the feature that you want to analyze, click "Calculate time-series", and the Analysis Panel will immediately initiate. </p> 
              <section class="callout-yellow">
                Note: If you are having difficulty loading your shapefile, 
               <a href="/article/18-shapefile-help"><strong>try our troubleshooting guide.</strong></a> 
              </section> 
              <p> <img src="/assets/images/rap-support-24-2.gif"> </p> 
              <figcaption>
                Demonstration of loading a shapefile. Once the shapefile is loaded, simply click any feature to perform analysis. 
              </figcaption> 
              <p> &nbsp; </p> 
              <h2><a name="fire"></a>Pre-loaded fire perimeters</h2> 
              <p> Fire perimeters from the Monitoring Trends in Burn Severity (MTBS) dataset are pre-loaded into RAP for the years 1984–2017. To analyze a fire, use the "Display fire boundaries" switch to make them display on the map. Then, click on the fire perimeter that you are interested in, click "Calculate time series", and the Analysis Panel will immediately initiate. </p> 
              <p> <img src="/assets/images/rap-support-24-3.gif"> </p> 
              <figcaption>
                Demonstration of performing analysis on a fire perimeter. Simply click the fire perimeter to being performing analysis. 
               <br> 
              </figcaption> 
              <p> &nbsp; </p> 
              <h3>Under the Hood: How Regions of Interest work in RAP</h3> 
              <p> Features in RAP can be points, lines, or polygons. The diagram below is an intuitive way to understand how each of these features relates to the 30-meter resolution pixels of RAP datasets As you can see, each feature selects all of the pixels that intersect. Subsequent analysis of the RAP vegetation cover and herbaceous biomass data, covered in the next section, is calculated as the average value of all of the selected pixels.&nbsp; </p> 
              <p> <img src="/assets/images/rap-support-24-4.png" style="width: 870px;"> </p> 
              <figure> 
               <figcaption>
                 Depictions of pixels selected for point, line, and polygon features in RAP. All pixels intersection those features are selected and analysis values represent the average of those selected pixels. 
                <br> 
               </figcaption>
              </figure> 
              <div class="callout callout-success">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
               <img src="https://i.ibb.co/mbZbzXV/forward.png" width="50" height="50"> 
               <span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to the next article describing <a href="/support/26-the-analysis-panel"><strong>the Analysis Panel.</strong></a></span> 
              </div>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-03-31 >Last updated on March 31, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
  </body>
</html>


