<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>The Interactive Map - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="By now, the interactive map may feel pretty intuitive. Still, there are some features that you may have missed that will help to improve your mapping: Toggling "/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="25-the-interactive-map"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="The Interactive Map" />
    <meta name="twitter:description" content="By now, the interactive map may feel pretty intuitive. Still, there are some features that you may have missed that will help to improve your mapping: Toggling "/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/support">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">The Interactive Map</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <h1></h1> 
              <iframe width="700" height="393" src="https://www.youtube.com/embed/NQ5845cFsv4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe> 
              <p> <br> By now, the interactive map may feel pretty intuitive. Still, there are some features that you may have missed that will help to improve your mapping: </p> 
              <ol> 
                <li>Toggling the basemap between the Map and Satellite imagery.</li> 
                <li>Searching for specific locations.</li> 
                <li>Zooming to a location either with the buttons or with your mouse.</li> 
                <li>Adjusting the transparency of the RAP vegetation cover data.</li> 
                <li>Excluding croplands, development, and water from both the map and future analysis.</li> 
              </ol> 
              <p> The diagram below shows where you can make these adjustments. </p> 
              <p> <img src="/assets/images/rap-support-25-1.png" style="width: 1056px;"> </p> 
              <figure> 
                <figcaption>Mapping options available in RAP: 1) Toggling basemap, 2) Searching for cities and other geographic areas, 3) Zooming in/out 4) Adjusting transparency of RAP data, 5) Excluding crop, development, and water landcover types.</figcaption>
              </figure> 
              <p> After toggling the basemap to satellite imagery, adjusting the transparency, and removing croplands, developed land, and water, our map of the Loess Canyons from earlier now provides a better context for the landscape within which tree expansion has occurred. </p> 
              <section class="callout-green"> 
                <a href="/rap/?biomass_t=herbaceous&amp;ll=40.9443,-100.5544&amp;z=12&amp;landcover_t=tree&amp;landcover_y=2019&amp;basemap=hybrid&amp;year=2017&amp;mask=apply&amp;landcover_o=0.4&amp;landcover_v=true"><strong> Here is a link to this map of the Loess Canyons on rangelands.app.</strong></a>
              </section> 
              <p> <img src="/assets/images/rap-support-25-2.png" style="width: 1053px;"> </p> 
              <figure> 
                <figcaption>In the Loess Canyons increasing RAP data transparency, toggling to the Satellite imagery basemap, and turning off crop, development, and water landcover types helps to depict the landscape context within which conifer expansion has occurred.</figcaption>
              </figure> 
              <p> Thank you for joining us for the "Navigating the Platform" article/video series! If you found this series helpful or have comments or questions, please don't hesitate to contact us using the link below. </p> 
              <p style="color:white;"> _ </p>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-03-18 >Last updated on March 18, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


