<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>The Analysis Panel - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Once you have identified your region of interest, the analysis pane will automatically pop-up in the top-right corner of your screen with three tabs visible, de"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="26-the-analysis-panel"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="The Analysis Panel" />
    <meta name="twitter:description" content="Once you have identified your region of interest, the analysis pane will automatically pop-up in the top-right corner of your screen with three tabs visible, de"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/support">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">The Analysis Panel</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <h1></h1>
              <iframe width="700" height="393" src="https://www.youtube.com/embed/qvPmFM0zkrA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe>
              <p> <br> Once you have identified your region of interest, the analysis pane will automatically pop-up in the top-right corner of your screen with three tabs visible, described below.</p>
              <section class="callout-blue">
                <p style="font-size:18px"> <strong>Contents:</strong></p>
                <ul> 
                  <li><strong><a href="#veg-cover">Vegetation Cover</a></strong></li> 
                  <li><a href="#biomass"><strong>Annual Biomass</strong></a></li> 
                  <li><strong><a href="#biomass16">16-day Biomass</a></strong></li>
                </ul>
                <p style="font-size:18px"> Within each tab, there are <strong> </strong><a href="#options"><strong>additional options</strong></a> available as well.</p>
              </section>
              <h1><a name="veg-cover"></a>Vegetation Cover plots</h1>
              <p> Once the Analysis Panel initiates, by default the Vegetation Cover plot will display in it.&nbsp; You will see that the plot displays each of the plant functional types (PFTs) as well as annual precipitation — each of these values is an average over all of the pixels in your region of interest.&nbsp;</p>
              <p> The graph itself is highly interactive and allows you to customize it in a variety of ways. When you scroll over the plot, pop-up text displays values for the datapoint closest to your cursor. You can also control which PFTs appear on the plot by single- (turn off) or double-clicking (making that PFT the only one that displays) the labels in the legend.&nbsp;</p>
              <h4>Loess Canyons example</h4>
              <p> See below, as we revisit our example from the Loess Canyons, Nebraska and produce a plot displaying only tree cover and perennial forb and grass cover. Reducing data in the plots can help us to focus on the trends that are most important in our region of interest. In this case, we can see that as tree cover increases, perennial forb and grass cover decreases.</p>
              <section class="callout-green"> 
                <strong><a href="/assets/data/Loess.zip">Click this link to download the shapefile used to produce this exact analysis of the Loess Canyons.</a> </strong>You can then load it into RAP using the instructions from the 
                <em>Analyzing your Region of Interest</em> article. 
                <strong><br> </strong> 
              </section>
              <h3><img src="/assets/images/rap-support-26-1.gif" style="width: 983px;"></h3>
              <figure>
                <figcaption>Reducing the number of vegetation plots displayed in the chart can help you to focus on the PFTs that are most important. </figcaption>
              </figure>
              <h1><a name="biomass"></a>Annual Biomass plots</h1>
              <p> In general, the plots of annual biomass are almost identical to those of vegetation cover, with the same interactive features.</p>
              <h4>Hot Pot Fire example</h4>
              <p> As an example, we will revisit our example from the Hot Pot fire of 2015 to look at the annual biomass plots in some more detail. One thing that you may notice in working with the annual biomass plots, especially in rangelands with relatively low production like the Great Basin, is that the axes in the main plots don't scale, making the data appear scrunched together. In the animation below for the Hot Pot fire, I expand the plot to the full window which then rescales the axis to make it easier to see annual variation. I also turned off herbaceous biomass in the plot to focus on the relationship between annual herbaceous and perennial herbaceous biomass — notice that annual herbaceous biomass has increased relative to historic levels since the fire in 2015.</p>
              <section class="callout-green"> 
                <a href="/rap/?biomass_t=afg&amp;ll=41.0804,-116.8522&amp;z=12&amp;fire=show&amp;year=2016&amp;fid=NV4102211692120160702&amp;landcover_t=afgc&amp;biomass_v=true&amp;biomass_y=2015"><strong>Follow this link to view the map used to produce this analysis in rangelands.app.</strong></a> 
                <strong><br> </strong> 
              </section>
              <p> <strong> </strong></p>
              <p> <img src="/assets/images/rap-support-26-2.gif" style="width: 1015px;"></p>
              <figure>
                <figcaption>It can be helpful to expand RAP data plots to full screen to visualize plot trends in greater detail</figcaption>
              </figure>
              <h1> <a name="biomass16"></a>16-day biomass plots</h1>
              <p> One of the most groundbreaking aspects of the Herbaceous Biomass dataset available in RAP is the near-real-time estimates of herbaceous biomass production. These observations, produced every 16-days, enable the user to track biomass production continuously over the 35-year+ archive of RAP data.&nbsp;</p>
              <p> As of the writing of this tutorial, it is February and herbaceous production hasn't begun in much of the western US — but, it has in parts of California. The Garza Burned nearly 50,000 acres southwest of Fresno, California in 2017. Observations of 16-day biomass production have already become available for February 2021, with the most recent observation just 4 days ago. In these plots, we can see how this year's production is shaping up against previous years using the year drop-down menu.</p>
              <section class="callout-green"> 
                <strong></strong> 
                <a href="/rap/?biomass_t=afg&amp;ll=35.9874,-120.2936&amp;z=12&amp;fire=show&amp;year=2017&amp;fid=CA3589912026320170710&amp;landcover_t=tree&amp;biomass_y=2017&amp;basemap=hybrid&amp;biomass_v=true"><strong>You can explore the data from the Garza Fire on rangelands.app by following this link.</strong></a> 
              </section>
              <p> <img src="/assets/images/rap-support-26-3.gif" style="width: 903px;"></p>
              <figure>
                <figcaption>The 16-day biomass plots enable you to monitor herbaceous biomass production in near-real-time.</figcaption>
              </figure>
              <h2> <a name="options"></a> Additional options</h2>
              <p> Within each&nbsp;tab of the Analysis Panel&nbsp;there are three additional&nbsp;features that are useful to highlight, depicted in the image below</p>
              <ol> 
                <li>You have the ability to&nbsp;export a comma-separated value table (CSV) or an Excel spreadsheet with the data displayed in the plots. Exporting data is useful if you'd like to explore different ways&nbsp;of plotting the RAP data or if you are working with data from multiple locations. In the future, we will have tutorials that will describe ways to plot RAP exports using software like Excel.</li> 
                <li>The print button allows you to print your plot to an image file.</li> 
                <li>The enlarge button opens up your plot into a full window view, allowing you to see the trends in greater detail.</li>
              </ol>
              <p> <img src="/assets/images/rap-support-26-4.png" style="width: 580px;"></p>
              <figcaption>Beyond data plotting, the analysis panel has three additional options: 1) exporting RAP data summaries to spreadsheets, 2) printing the plots, 3) expanding the plots to full screen.</figcaption> 
              <div class="callout callout-success">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
               <img src="https://i.ibb.co/mbZbzXV/forward.png" width="50" height="50"> 
               <span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to the next article describing <a href="/support/25-the-interactive-map"><strong>the Interactive Map.</strong></a> </span> 
              </div>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-03-22 >Last updated on March 22, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


