<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>How to Use RAP - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="If you are ready to start getting your hands dirty with Rangeland Analysis Platform data, you have come to the right place! This section provides tutorial resou"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="45-using-rap-landing"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="How to Use RAP" />
    <meta name="twitter:description" content="If you are ready to start getting your hands dirty with Rangeland Analysis Platform data, you have come to the right place! This section provides tutorial resou"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="/assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">How to Use RAP</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <p> <img src="/assets/images/rap-support-45-1.jpg" style="background-color: initial;"></p>
              <p> If you&nbsp;are ready to start getting your hands dirty with Rangeland Analysis Platform data, you have come to the right place!</p>
              <p> This section provides tutorial resources to orient you to the RAP web application and additional resources for using RAP datasets with other platforms.</p>
              <p> The <strong><em>Navigating the Platform</em></strong> series is intended to be followed sequentially and covers:</p>
              <ol> 
               <li><strong><a href="/support/17-navigating-the-platform">Navigating the Platform</a> </strong></li> 
               <li><a href="/support/23-the-map-layers-panel"><strong>The Map Layers Panel</strong></a></li> 
               <li><strong><a href="/support/24-analyzing-your-region-of-interest">Analyzing your Region of Interest</a><br> </strong></li> 
               <li><a href="/support/26-the-analysis-panel"><strong>The Analysis Panel</strong></a></li> 
               <li><a href="/support/25-the-interactive-map"><strong>The Interactive Map</strong></a></li>
              </ol>
              <p>Using other RAP applications, tools, and analyses:</p>
              <ul>
               <li><strong></strong><a href="/support/70-production-explorer"><strong>RAP Production Explorer and Stocking Rate Calculator tool</strong></a></li>
              </ul>
              <p> The other articles in this section will help you to use RAP data in GIS software and Excel:</p>
              <ul> 
               <li><a href="/support/19-view-rap-data-in-your-gis"><strong>View RAP data in your GIS</strong></a></li> 
               <li><strong><a href="/support/53-analyze-rap-data-in-excel">Visualize RAP data in Excel</a></strong></li> 
               <li><a href="/support/61-processing-rap-data-in-google-earth-engine"><strong>Processing RAP data in Google Earth Engine</strong></a></li>
              </ul>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-09-30 >Last updated on September 30, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section>
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


