<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>New to RAP — Start Here - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Welcome to the Rangeland Analysis Platform! The Rangeland Analysis Platform ( rangelands.app) is a free online application that provides simple and fast access "/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="46-new-to-rap-start-here-landing"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="New to RAP — Start Here" />
    <meta name="twitter:description" content="Welcome to the Rangeland Analysis Platform! The Rangeland Analysis Platform ( rangelands.app) is a free online application that provides simple and fast access "/>
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="/assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body> 
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">New to RAP — Start Here</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <p> <img src="/assets/images/rap-support-46-1.jpg"></p>
              <p> <strong> Welcome to the Rangeland Analysis Platform!</strong></p>
              <p> The Rangeland Analysis Platform ( <a href="/">rangelands.app</a>) is a free online application that provides simple and fast access to geospatial vegetation data for U.S. rangelands.&nbsp;The tool was developed to provide landowners, resource managers, conservationists, and scientists access to data that can inform land management planning, decision making, and the evaluation of outcomes. The Rangeland Analysis Platform (RAP) uses innovative cloud computing technology to provide maps and analysis opportunities straight to your desktop, delivered securely and instantaneously.</p>
              <p> The maps and data provided by RAP are intended to be used alongside local knowledge and site-specific data&nbsp;to inform management actions that improve rangelands and wildlife habitat.&nbsp;</p>
              <section class="callout-green">
               <p style="font-size:18px"> We recommend that you read <strong><a href="/support/22-guiding-principles">Guiding principles for using satellite-derived maps in rangeland monitoring</a></strong> for more information.</p>
              </section>
              <p> RAP should&nbsp;not&nbsp;be used&nbsp;in isolation:</p>
              <ul> 
               <li>to quantify rangeland resources</li> 
               <li>to determine or define thresholds</li> 
               <li>to evaluate the efficacy of management practices or treatments</li>
              </ul>
              <p> Such analysis or evaluation should be conducted in concert with information specific to the area under investigation, including past management practices, treatments, conservation efforts, and anthropogenic or natural disturbances. &nbsp;</p>
              <p> Have agency-specific questions? Contact the&nbsp;<strong><a href="/support/57-agency-points-of-contact">Agency Points of Contact</a>.</strong></p>
              <p> <strong><br> </strong></p>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2022-01-07 >Last updated on January 7, 2022</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


