<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>What is RAP? - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="What is RAP? Well, the Rangeland Analysis Platform consists of two primary components: Rangeland vegetation datasets — covered below Web applications for analyz"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="47-what-is-rap-landing.html"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="What is RAP?" />
    <meta name="twitter:description" content="What is RAP? Well, the Rangeland Analysis Platform consists of two primary components: Rangeland vegetation datasets — covered below Web applications for analyz"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="/assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">What is RAP?</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <p> <img src="/assets/images/rap-support-47-1.jpg">What is RAP? Well, the Rangeland Analysis Platform consists of two primary components:</p>
              <ol> 
               <li><strong>Rangeland vegetation datasets </strong>— covered below</li> 
               <li><strong>Web applications for analyzing data&nbsp; —</strong>&nbsp;learn more in the&nbsp;<strong><a href="/support/45-using-rap-landing">How to Use RAP section</a></strong></li>
              </ol>
              <p> The articles below provide information about how we produce the rangeland vegetation datasets in RAP:</p>
              <ul> 
               <li><strong><a href="/support/48-vegetation-cover-dataset">Vegetation cover dataset</a><br> </strong></li> 
               <li><a href="/support/49-rangeland-production"><strong>Rangeland production dataset</strong></a><br> <a href="/support/49-herbaceous-biomass-model"><strong></strong></a></li>
              </ul>
              <p> Read below to learn about how RAP is informing rangeland monitoring and decision-making:</p>
              <ul> 
               <li><strong><a href="/support/55-multi-scale-rangeland-monitoring">Multi-scale Rangeland Monitoring</a></strong></li> 
               <li><a href="/support/54-using-rap-in-rangeland-decision-making"><strong></strong></a><strong><a href="/support/54-using-rap-in-rangeland-decision-making">Using RAP in Rangeland Decision-Making</a></strong> <p> <a href="/support/13-understanding-the-maps-and-models"></a> </p></li>
              </ul>
              <p> RAP has been featured in dozens of scientific studies and agency reports, <a href="/support/58-publications-and-reports"><strong>see the full list in our Publications and Reports article.</strong></a></p>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-11-01 >Last updated on November 1, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>
