<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Rangeland Production Dataset - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="The rangeland production dataset produces estimates of total new aboveground rangeland production, partitioned to annual production and perennial biomass. The d"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="49-rangeland-production"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Rangeland Production Dataset" />
    <meta name="twitter:description" content="The rangeland production dataset produces estimates of total new aboveground rangeland production, partitioned to annual production and perennial biomass. The d"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/support">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Rangeland Production Dataset</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <iframe width="700" height="393" src="https://www.youtube.com/embed/LsceaClfGOY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe>
              <p> <br> The rangeland production dataset produces estimates of total new aboveground rangeland production, partitioned to annual production and perennial biomass. The data, at 30-meter spatial resolution from 1986–present, are available at annual and 16-day time steps. Note: it does not estimate standing biomass, but rather new accumulated growth over each 16-day period, which is then summed to an annual total.</p>
              <p> The&nbsp;rangeland production&nbsp;data are produced using a process-based model, meaning the model does not use field-level biomass plots to estimate productivity. The model implemented here estimates plant productivity using three primary inputs:</p>
              <ul> 
               <li>Continuous vegetation cover</li> 
               <li>Absorbed solar radiation</li> 
               <li>Meteorology</li>
              </ul>
              <p> More specifically, this model calculates vegetation productivity based on how efficiently a plant uses absorbed solar radiation to add biomass considering local temperature and moisture conditions.&nbsp; This type of light-use efficiency model has been in use in ecology for nearly 50 years, but the iteration in RAP is an improvement over previous versions for a variety of reasons we’ll explore here.</p>
              <h3>Continuous vegetation cover</h3>
              <p> Plant productivity models historically used categorical vegetation cover data. In other words, each location (or pixel) was considered a single plant functional type (e.g. grass, shrub, tree) and productivity was calculated as though that was the only plant functional type (PFT) present.&nbsp; But in reality, most rangeland locations are a mixture of herbaceous vegetation, shrubs, and trees and the PFTs exhibit their own unique phenologies (i.e. timing of greenup and senescence). With RAP’s continuous vegetation cover dataset we can now calculate each PFT’s contribution to the overall productivity based on its cover percentage and its unique ecoregion-level phenology.&nbsp;&nbsp;</p>
              <p> <img src="/assets/images/rap-support-49-1.png" style="width: 805px;"></p>
              <figcaption>
                While landscapes across the western US have complex vegetation types (left) previous iterations of the light-use efficiency model relied on categorical data (center), meaning that any given location was given a strict category (for example, grassland or forest). RAP's Rangeland Production dataset&nbsp;accounts for the complex relationships between PFTs and production by using the Vegetation Cover dataset as an input. 
              </figcaption>
              <p> &nbsp;</p>
              <h3>Absorbed solar radiation</h3>
              <p> Photosynthesis is the process that plants use to convert absorbed solar radiation to biomass. The amount of energy absorbed is related to the amount reflected, which we can measure using Landsat satellite data. Specifically, we use the normalized difference vegetation index (NDVI) to estimate the amount of radiation absorbed through the growing season (every 16 days), enabling us to estimate biomass production in near-real-time. Then, we use the RAP vegetation cover dataset to parse out how much of that NDVI signal is coming from each vegetation type.</p>
              <p> <img src="/assets/images/rap-support-49-2.png"></p>
              <figcaption>
                NDVI values derived from the Landsat satellites provide information about biomass production throughout the period of each year. Then, the Vegetation Cover data enable us to separate out biomass production between different PFTs. 
              </figcaption>
              <p> &nbsp;</p>
              <h3>Meteorology</h3>
              <p> Temperature and moisture availability both influence biomass production. The model incorporates temperature and vapor-pressure deficit (VPD). VPD is a common variable in drought monitoring and is essentially a measure of aridity.</p>
              <h3>Producing estimates of biomass production</h3>
              <p> In brief, the inputs described here are used to estimate net primary production which is converted to biomass using established equations.&nbsp;</p>
              <p> We direct you to the scientific publications for technical details of this conversion and the general process described in this article.</p>
              <h3>Technical resources:</h3>
              <ul> 
               <li><strong><a href="/products/#biomass">Description, technical details, and accuracy of the Rangeland Production product on rangelands.app</a></strong><a href="https://rangelands.app/products/#biomass"></a></li> 
               <li><strong>Journal article:&nbsp;</strong><a href="https://dx.doi.org/10.1101/2020.11.06.343038"><strong>Annual and 16-day rangeland production estimates for the western United States</strong></a></li> 
               <li><strong>Journal article:&nbsp;</strong><a href="https://dx.doi.org/10.3390/rs11121427"><strong>Rangeland productivity partitioned to sub-pixel plant functional types</strong></a></li>
              </ul>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2022-01-07 >Last updated on January 7, 2022</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


