<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Troubleshooting and FAQs - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Why is my shapefile not working? Known data issues Download FGDC CSDGM metadata Additional FAQs Have agency-specific questions? Contact the Agency Points of Con"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="52-troubleshooting-and-faqs-landing"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Troubleshooting and FAQs" />
    <meta name="twitter:description" content="Why is my shapefile not working? Known data issues Download FGDC CSDGM metadata Additional FAQs Have agency-specific questions? Contact the Agency Points of Con"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="/assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Troubleshooting and FAQs</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <p> <img src="/assets/images/rap-support-52-1.jpg"></p>
              <ul> 
               <li><strong><a href="/support/18-shapefile-help">Why is my shapefile not working?</a></strong></li> 
               <li><strong><a href="/support/56-known-data-issues">Known data issues</a> </strong></li> 
               <li><a href="/support/59-rap-metadata"><strong></strong></a><strong><a href="/support/59-rap-metadata">Download FGDC&nbsp;CSDGM metadata</a></strong></li> 
               <li><strong><a href="/support/60-faqs">Additional FAQs</a><br> </strong></li>
              </ul>
              <p> Have agency-specific questions?&nbsp;Contact the&nbsp;<strong><a href="/support/57-agency-points-of-contact">Agency Points of Contact</a>.</strong></p>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-04-06 >Last updated on April 6, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing.html">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing.html">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/45-using-rap-landing.html">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="52-troubleshooting-and-faqs-landing.html">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


