<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Visualize RAP data in Excel - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="RAP data can be downloaded for your region of interest as either a comma-separated value table (CSV) or as an Excel workbook (.xls) from the Analysis Panel. Reg"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="53-visualize-rap-data-in-excel"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Visualize RAP data in Excel" />
    <meta name="twitter:description" content="RAP data can be downloaded for your region of interest as either a comma-separated value table (CSV) or as an Excel workbook (.xls) from the Analysis Panel. Reg"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/support">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Visualize RAP data in Excel</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <p> RAP data can be downloaded for your region of interest as either a comma-separated value table (CSV) or as an Excel workbook (.xls) from the Analysis Panel. Regardless of how you download the data, you will interact with it in the same way in Excel.</p>
              <section class="callout-yellow">
                <h3>Note:</h3>
                <p> For a demonstration of how to download data, visit our article on <strong style="background-color: initial;"><a href="/support/26-the-analysis-panel">the Analysis Panel.</a></strong></p>
              </section>
              <p> Once you have downloaded your data, you can visualize it in Excel in almost an endless variety of different ways. Rather than going one-by-one through each of the types of plots, here we present some general steps and tips for exploring your data in Excel. After all, you are the expert on the important vegetation trends in your region.&nbsp;</p>
              <h2> <strong>Plotting data:</strong></h2>
              <p> First,&nbsp; highlight the columns of data that you are interested in. In this example, I was using the Vegetation Cover data for a region that has experienced conifer expansion, so I highlighted the 'year', 'PFGC', and 'TREE' columns. Holding down the ctrl or cmd key to select multiple columns.&nbsp;</p>
              <p> <img src="/assets/images/rap-support-53-1.png"></p>
              <p> Then, you can explore the different types of charts available by first clicking the 'Insert' tab and then using the 'Charts' panel.</p>
              <p> <img src="/assets/images/rap-support-53-2.png"></p>
              <p> Clicking 'Recommended Charts" will display options that Excel predicts&nbsp;will be useful or interesting for your type of data. In many cases, Excel is able to recognize that we are using time-series data and selects appropriate plots for showing change through time.</p>
              <p> <img src="/assets/images/rap-support-53-3.png" style="width: 824px;"></p>
              <p> Or, if you're not finding what you're looking for you can use the "All Charts" tab of the window displayed above to find something more interesting.</p>
              <p> <img src="/assets/images/rap-support-53-4.png" style="width: 803px;"></p>
              <p>Happy plotting!</p>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-03-11 >Last updated on March 11, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">                 
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
  </body>
</html>
