<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Using RAP in Rangeland Decision-Making - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="RAP is a powerful tool to enhance rangeland assessment, management, and monitoring. When using any remotely-sensed maps or data, it is important to remember tha"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="54-using-rap-in-rangeland-decision-making"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Using RAP in Rangeland Decision-Making" />
    <meta name="twitter:description" content="RAP is a powerful tool to enhance rangeland assessment, management, and monitoring. When using any remotely-sensed maps or data, it is important to remember tha"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="/assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Using RAP in Rangeland Decision-Making</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <p> RAP is a powerful tool to enhance rangeland assessment, management, and monitoring. When using any remotely-sensed maps or data, it is important to remember that they are just one more tool in the decision-making toolbox. Users should consider RAP alongside other sources of information, such as local knowledge and data, to inform interpretations. Considering multiple lines of evidence helps strengthen rangeland decision-making. For example, combining local herbaceous production data with RAP biomass estimates can help range conservationists better understand variability in production across a pasture through time, allowing them to set more realistic and adaptive stocking rates for livestock grazing.</p>
              <p> <img src="/assets/images/rap-support-54-1.png" width="475" height="390" style="margin-top: 0px;"></p>
              <figcaption>
                RAP data is intended to be used alongside other rangeland datasets, information, and observations. It is one more tool in the decision-making toolbox. 
              </figcaption>
              <p> <br> RAP provides value-added information across many facets of rangeland decision-making. Common applications include using RAP to:</p>
              <ul> 
               <li>Fill in gaps between locally-collected field data plots</li> 
               <li>Provide historical and regional context</li> 
               <li>Prioritize areas for assessment, management, and monitoring</li> 
               <li>Track vegetation change through time (e.g., pre- and post-treatment/disturbance)</li>
              </ul>
              <p> The potential utility and role of RAP data and maps will vary depending on the specific management questions, objectives, and scales involved in a given rangeland planning process. Different tools and sources of information are better suited to inform various questions, and RAP will not be the best tool for every application. Below are some key questions asked during typical rangeland planning and the relative utility of remotely-sensed maps like RAP:</p>
              <p> <img src="/assets/images/rap-support-54-2.jpg" width="624" height="261" style="margin-top: 0px;"></p>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2022-01-07 >Last updated on January 7, 2022</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>
