<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Multi-scale Rangeland Monitoring - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Traditional rangeland vegetation monitoring typically involves collecting detailed information at small sampling plots on the ground in order to inform perspect"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="55-multi-scale-rangeland-monitoring"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Multi-scale Rangeland Monitoring" />
    <meta name="twitter:description" content="Traditional rangeland vegetation monitoring typically involves collecting detailed information at small sampling plots on the ground in order to inform perspect"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="/assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Multi-scale Rangeland Monitoring</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <p> Traditional rangeland vegetation monitoring typically involves collecting detailed information at small sampling plots on the ground in order to inform perspectives of what’s happening within larger units of management interest. However, data collection at these plots can be intensive, making it difficult to conduct enough sampling to fully characterize entire grazing pastures (A) and allotments (B). This challenge is further compounded when assessing whole watersheds or regions (C). Finally, true monitoring requires repeated measurements through time (D) which presents another challenge for traditional approaches where human capacity and resources often limit the ability to revisit sampling plots.</p>
              <p> <img src="/assets/images/rap-support-55-1.png" style="width: 602px;"></p>
              <p> RAP helps rangeland practitioners overcome traditional barriers to monitoring by allowing them to scale-up beyond sampling plots through space and time, for free. Here, scaling-up refers to filling in data gaps between monitoring plots, providing information on entire landscapes over the period of multiple decades. RAP does not replace traditional field sampling. It should always be coupled with local data to enhance our understanding of vegetation heterogeneity across the land and how it is changing through time. This combination allows users to have detailed knowledge of species composition on the ground, while also having a continuous estimate of more general vegetation conditions where sampling points do not exist.&nbsp;</p>
              <p> <img src="/assets/images/rap-support-55-2.gif" width="624" height="449" style="margin-top: 0px;"></p>
              <figcaption>
                Together, satellite data from Landsat, field plots from the Natural Resources Conservation Service, and cloud-computing provided through Google Earth Engine provides the ability to scale field observations to the western US over a period of more than three decades. 
              </figcaption>
              <p> <br> The unprecedented perspective provided by RAP now enables monitoring at multiple scales through time, providing new insights into rangeland dynamics. Because of the mismatch in scale between traditional sampling plots and remotely-sensed maps and data, users may find contradictions in monitoring data sources. Users should think critically about what the various data sources are telling them (for more information, read our article on <a href="22-guiding-principles">Guiding principles of using maps in rangeland monitoring</a>). RAP maps and data provide a new view of rangelands that may challenge our existing understanding of the land and will take time to get used to interpreting.</p>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2022-01-07 >Last updated on January 7, 2022</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/45-using-rap-landing.html">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing.html">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


