<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Known Data Issues - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Landsat data RAP is dependent upon Landsat satellite imagery. In some years or regions, limited satellite data are available due to reduced satellite coverage, "/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="56-known-data-issues"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Known Data Issues" />
    <meta name="twitter:description" content="Landsat data RAP is dependent upon Landsat satellite imagery. In some years or regions, limited satellite data are available due to reduced satellite coverage, "/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Known Data Issues</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <h3>Landsat data</h3>
              <p> RAP is dependent upon Landsat satellite imagery. In some years or regions, limited satellite data are available due to reduced satellite coverage, the persistence of clouds, missing satellite data, processing errors, etc. For years 1984 to 1999, only one Landsat satellite was collecting data, and as a result, data gaps or RAP anomalies may be more likely during this period. Limited data during this period may result in visual artifacts in RAP data, often seen as differences in values along Landsat orbital paths, as shown in the left panel of the figure below.</p>
              <p> In 2003 the Scan Line Corrector (SLC) of Landsat 7 failed, resulting in data gaps in all succeeding Landsat 7 scenes. These gaps are often supplemented by subsequent passes of Landsat 7 and data provided by Landsat 5 (through May 2012) and Landsat 8 (launched April 2013). In some cases, however, the effect of SLC failure can be seen in RAP data, as shown in the right panel of the figure below.</p>
              <p> <img src="/assets/images/rap-support-56-1.png" width="624" height="488" style="margin-top: 0px;"></p>
              <h3>Vegetation cover</h3>
              <p> When Landsat satellite data is missing, the vegetation cover model will continue to predict cover. Although newer versions of the vegetation cover model are better equipped to handle missing data, RAP data and output should be examined for anomalies or gaps.&nbsp;</p>
              <h3>Herbaceous biomass</h3>
              <p> The herbaceous biomass model will fill Landsat satellite data gaps using a climatology, specifically the median of the previous five years. If a climatology cannot be calculated due to lack of data, biomass will not be calculated for that 16-day period, resulting in anomalous annual biomass estimates. If an anomalous year is detected, RAP 16-day biomass should be examined.</p>
              <h5>Far South Texas Plains (McAllen to Corpus Christi area)</h5>
              <p> Due to significantly reduced Landsat data for the years 1984 through the early 1990s and a long growing season, herbaceous biomass estimates in the far South Texas Plains (McAllen to Corpus Christi area) may not be accurately reflected. Both annual and 16-day biomass estimates should be inspected closely prior to use.</p>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-03-19 >Last updated on March 19, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


