<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Agency Points of Contact - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Please contact these individuals for agency-specific questions on the use of the Rangeland Analysis Platform: NRCS Jeremy Maestas Ecologist, West National Techn"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="57-agency-points-of-contact"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Agency Points of Contact" />
    <meta name="twitter:description" content="Please contact these individuals for agency-specific questions on the use of the Rangeland Analysis Platform: NRCS Jeremy Maestas Ecologist, West National Techn"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
    
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Agency Points of Contact</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <p> Please contact these individuals for agency-specific questions on the use of the Rangeland Analysis Platform:</p>
              <p> <strong>NRCS</strong><br> Jeremy Maestas<br> Ecologist, West National Technology Support Center<br> <a href="mailto:jeremy.maestas@usda.gov">jeremy.maestas@usda.gov</a></p>
              <p> <strong>BLM</strong><br> Nicole Hupp<br> Monitoring Coordinator, MT/DK<br><a href="mailto:mailto:nhupp@blm.gov">nhupp@blm.gov</a></p>
              <p> Jennifer Walker<br> Natural Resource Specialist, MT/DK<br><a href="mailto:mailto:jnwalker@blm.gov">jnwalker@blm.gov</a></p>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-10-25 >Last updated on October 25, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


