<!DOCTYPE html>
<html>  
  <head>
    <meta charset="utf-8"/>
    <title>Publications and Reports - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Core RAP Publications These publications describe the methods behind the core RAP datasets — vegetation cover and herbaceous biomass. Cite these papers if using"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="58-publications-and-reports"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Publications and Reports" />
    <meta name="twitter:description" content="Core RAP Publications These publications describe the methods behind the core RAP datasets — vegetation cover and herbaceous biomass. Cite these papers if using"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="/assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Publications and Reports</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <section class="callout-green">
               <h2>Core RAP Publications</h2>
               <p> These publications describe the methods behind the core RAP datasets — vegetation cover and herbaceous biomass. Cite these papers if using RAP datasets in research projects.</p>
              </section> 
              <div> 
               <table> 
                <tbody> 
                 <tr> 
                  <td> 2021 </td> 
                  <td> Allred, B.W., B.T. Bestelmeyer, C.S. Boyd, C. Brown, K.W. Davies, M.C. Duniway, L.M. Ellsworth, T.A. Erickson, S.D. Fuhlendorf, S.D., T.V. Griffiths, V. Jansen, M.O. Jones, J. Karl, A. Knight, J.D. Maestas, J.J. Maynard, S.E. McCord, D.E. Naugle, H.D. Starns, D. Twidwell, and D.R. Uden.&nbsp; <strong>Improving Landsat predictions of rangeland fractional cover with multitask learning and uncertainty.</strong>&nbsp;<em>Methods in Ecology and Evolution</em> <a href="https://doi.org/10.1111/2041-210X.13564">https://doi.org/10.1111/2041-210X.13564</a><strong>&nbsp;*</strong> </td> 
                  <td> <strong></strong><a href="https://besjournals.onlinelibrary.wiley.com/doi/full/10.1111/2041-210X.13564"><strong>Link</strong></a> </td> 
                  <td> </td> 
                 </tr> 
                 <tr> 
                  <td> 2020 </td> 
                  <td> Jones, M.O., N.P. Robinson, D.E. Naugle, J.D. Maestas, M.C. Reeves, R.W. Lankston, and B.W. Allred.&nbsp; <strong>Annual and 16-day rangeland production estimates for the western United States.</strong>&nbsp;<em>bioRxiv</em>&nbsp;2020.11.06.343038 <a href="https://doi.org/10.1016/j.rama.2021.04.003">https://doi.org/10.1016/j.rama.2021.04.003</a><strong style="background-color: initial;">&nbsp;**</strong><br></td> 
                  <td> <strong></strong><a href="https://www.sciencedirect.com/science/article/pii/S1550742421000464"><strong>Link</strong></a> </td> 
                  <td> </td> 
                 </tr> 
                 <tr> 
                  <td> 2019 </td> 
                  <td> Robinson, N.P., M.O. Jones, A. Moreno, T.A. Erickson, D.E. Naugle, and B.W. Allred.&nbsp; <strong>Rangeland productivity partitioned to sub-pixel plant functional types</strong>.&nbsp;<em>Remote Sensing</em>&nbsp;11:1427. <a href="https://doi.org/10.3390/rs11121427">https://doi.org/10.3390/rs11121427</a> </td> 
                  <td> <a href="https://www.mdpi.com/2072-4292/11/12/1427"><strong>Link</strong></a><strong><br> </strong> </td> 
                  <td> </td> 
                 </tr> 
                 <tr> 
                  <td> 2018 </td> 
                  <td> Jones, M.O., B.W. Allred, D.E. Naugle, J.D. Maestas, P. Donnelly, L.J. Metz, J. Karl, R. Smith, B. Bestelmeyer, C. Boyd, J.D. Kerby, and J.D. McIver.&nbsp; <strong>Innovation in rangeland monitoring: annual, 30 m, plant functional type percent cover maps for U.S. rangelands, 1984-2017</strong>.&nbsp;<em>Ecosphere</em>&nbsp;9:e02430. <a href="https://doi.org/10.1002/ecs2.2430">https://doi.org/10.1002/ecs2.2430</a> *** </td> 
                  <td> <a href="https://esajournals.onlinelibrary.wiley.com/doi/full/10.1002/ecs2.2430"><strong>Link</strong></a><strong><br> </strong> </td> 
                  <td> </td> 
                 </tr> 
                </tbody> 
               </table>
              </div>
              <section class="callout-green">
               <p> <strong>Notes:</strong> <br> * RAP Vegetation Cover, version 2.0 <br> ** RAP Herbaceous Biomass <br> *** RAP Vegetation Cover, version 1.0</p>
              </section>
              <p style="color:white;"> _</p>
              <section class="callout-blue">
               <h2>Supporting Publications</h2>
               <p> These publications support innovative and appropriate uses of the RAP datasets in rangeland management.</p>
              </section> 
              <table> 
               <tbody> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Twidwell, D., D.R. Uden, C.P. Roberts, B.W. Allred, M.O. Jones, D.E. Naugle, and C.R. Allen. <strong>Mapping panarchy to improve visualization of complex environmental change.</strong>&nbsp;<em>Panarchy: Applications and Diffusion Across Disciplines</em>.&nbsp;<strong><em>(Status:&nbsp;in press)</em></strong> </td> 
                 <td> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Allred, B.W., M.K, Creutzburg, J.C. Carlson, C.J. Cole, C.M. Dovichin, M.C. Duniway, M.O. Jones, J.D. Maestas, D.E. Naugle, T.W. Nauman, G.S. Okin, M.C. Reeves, M. Rigge, S.K. Savage, D. Twidwell, D.R. Uden, and B. Zhou. <strong>Guiding principles for using satellite-derived maps in rangeland management. </strong><em>Rangelands</em>. <a href="https://doi.org/10.1016/j.rala.2021.09.004">https://doi.org/10.1016/j.rala.2021.09.004</a> </td> 
                 <td> <strong></strong><a href="https://www.sciencedirect.com/science/article/pii/S0190052821000845" target="_blank"><strong>Link</strong></a><br> </td> 
                </tr> 
                <tr> 
                 <td> 2020 </td> 
                 <td> Naugle, D.E., B.W. Allred, M.O. Jones, D. Twidwell, and J.D. Maestas. <strong>Coproducing science to inform working lands: The next frontier in nature conservation</strong>. <em>BioScience</em> 70:90-96. <a href="https://doi.org/10.1093/biosci/biz144">https://doi.org/10.1093/biosci/biz144</a><br> <a href="https://doi.org/10.1111/2041-210X.13564"></a> </td> 
                 <td> <a href="https://academic.oup.com/bioscience/article/70/1/90/5670752?login=true"><strong>Link</strong></a><strong><br> </strong> </td> 
                </tr> 
                <tr> 
                 <td> 2020 </td> 
                 <td> Jones, M.O., D.E. Naugle, D. Twidwell, D.R. Uden, J.D. Maestas, and B.W. Allred. <strong>Beyond inventories: Emergence of a new era in rangeland monitoring</strong>. <em>Rangeland Ecology and Management</em> 73:577-583. <a href="https://doi.org/10.1016/j.rama.2020.06.009">https://doi.org/10.1016/j.rama.2020.06.009</a><br> <a href="https://doi.org/10.1101/2020.11.06.343038"></a> </td> 
                 <td> <a href="https://www.sciencedirect.com/science/article/pii/S1550742420300750"><strong>Link</strong></a><br> <strong></strong> </td> 
                </tr> 
                <tr> 
                 <td> 2019 </td> 
                 <td> Uden, D.R., D. Twidwell, C.R. Allen, M.O. Jones, D.E. Naugle, J.D. Maestas, and B.W. Allred. <strong>Spatial imaging and screening and regime shifts.</strong> <em>Frontiers Ecology and Evolution</em> 7:e407. <a href="https://doi.org/10.3389/fevo.2019.00407">https://doi.org/10.3389/fevo.2019.00407</a><br> </td> 
                 <td> <a href="https://www.frontiersin.org/articles/10.3389/fevo.2019.00407/full"><strong>Link</strong></a><strong><br> </strong> </td> 
                </tr> 
                <tr> 
                 <td> 2018 </td> 
                 <td> Robinson, N.P., B.W. Allred, W.K. Smith, M.O. Jones, A. Moreno, T.A. Erickson, D.E. Naugle, and S.W. Running. <strong>Terrestrial primary production for the conterminous United States derived from Landsat 30 m and MODIS 250 m.</strong> <em>Remote Sensing in Ecology and Conservation</em> 4:264-280. <a href="https://doi.org/10.1002/rse2.74">https://doi.org/10.1002/rse2.74</a><br> </td> 
                 <td> <a href="https://zslpublications.onlinelibrary.wiley.com/doi/full/10.1002/rse2.74"><strong>Link</strong></a><strong><br> </strong> </td> 
                </tr> 
                <tr> 
                 <td> 2017 </td> 
                 <td> Robinson, N.P., B.W. Allred, M.O. Jones, A. Moreno, J.S. Kimball, D.E. Naugle, T.A. Erickson, and A.D. Richardson. <strong>A dynamic Landsat derived normalized difference vegetation index (NDVI) product for the conterminous United States.</strong> <em>Remote Sensing</em>&nbsp;9:863. <a href="https://doi.org/10.3390/rs9080863">https://doi.org/10.3390/rs9080863</a><br> </td> 
                 <td> <strong></strong><a href="https://www.mdpi.com/2072-4292/9/8/863"><strong>Link</strong></a> </td> 
                </tr> 
               </tbody> 
              </table>
              <p style="color:white;"> _</p>
              <section class="callout-yellow">
               <h2>Studies using RAP datasets</h2>
               <p> These publications leverage RAP datasets in some aspect of their analysis of ecological and/or social systems.</p>
              </section> 
              <table> 
               <tbody> 
                <tr> 
                 <td> 2022 </td> 
                 <td> Fick, S.E., T.W. Nauman, C.C. Brungard, M.C. Duniway. <strong>What determines the effectiveness of Pinyon-Juniper clearing treatments? Evidence from the remote sensing archive and counter-factual scenarios.&nbsp;</strong><em>Forest Ecology and Management. </em><a href="https://doi.org/10.1016/j.foreco.2021.119879">https://doi.org/10.1016/j.foreco.2021.119879</a><br> </td> 
                 <td> <a href="https://www.sciencedirect.com/science/article/abs/pii/S0378112721009701" target="_blank"><strong>Link</strong></a><br> </td> 
                </tr>
                <tr> 
                 <td>2022</td> 
                 <td>Roberts, C.P., R. Scholts, D.T. Fogarty, D. Twidwell, T.L. Walker Jr.&nbsp;<strong>Large-scale fire management restores grassland bird richness for a private lands ecoregion. </strong>Ecological Solutions and Evidence. <a href="https://doi.org/10.1002/2688-8319.12119">https://doi.org/10.1002/2688-8319.12119</a> </td> 
                 <td><a href="https://doi.org/10.1002/2688-8319.12119"><strong>Link</strong></a><br></td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Roberts C., D.R. Uden, S.M. Cady, B.W. Allred, S. Fuhlendorf, M.O. Jones, J.D. Maestas, D. Naugle, A.C. Olsen, J. Smith, J. Tack, D. Twidwell. <strong>Tracking spatial regimes as an early warning for a species of conservation concern.</strong> <em>Ecological Applications.&nbsp;</em><a href="https://doi.org/10.1002/eap.2480">https://doi.org/10.1002/eap.2480</a><br> </td> 
                 <td> <strong></strong><a href="https://esajournals.onlinelibrary.wiley.com/doi/abs/10.1002/eap.2480"><strong>Link</strong></a><br> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Olsen, A.C., J.P Severson, B.W. Allred, M.O. Jones, J.D. Maestas, D.E. Naugle, K.H. Yates, C.A. Hagen. <strong>Reversing Tree Encroachment Increases Usable Space for Sage-Grouse during the Breeding Season.</strong> <em>Wildlife Society Bulletin. </em><a href="https://doi.org/10.1002/wsb.1214">https://doi.org/10.1002/wsb.1214</a><br> </td> 
                 <td> <a href="https://wildlife.onlinelibrary.wiley.com/doi/full/10.1002/wsb.1214"><strong>Link</strong></a><br> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Pilliod, D.S., J.L. Beck, C.J. Duchardt, J.L. Rachlow, K.E. Veblen. <strong>Leveraging rangeland monitoring data for wildlife: From concept to practice.</strong> <em>Rangelands. </em><a href="https://doi.org/10.1016/j.rala.2021.09.005">https://doi.org/10.1016/j.rala.2021.09.005</a><br> </td> 
                 <td> <a href="https://www.sciencedirect.com/science/article/pii/S0190052821000912"><strong>Link</strong></a><br> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Sawalhah, M.N., H.M.E. Geli, J.L. Holechek, A.F. Cibils, S. Spiegal, C. Gifford. <strong>Water Footprint of Rangeland Beef Production in New Mexico.</strong> <em>Water. </em><a href="https://doi.org/10.3390/w13141950">https://doi.org/10.3390/w13141950</a><br> </td> 
                 <td> <a href="https://www.mdpi.com/2073-4441/13/14/1950/htm"><strong>Link</strong></a><br> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Taylor, S.D., D.M. Browning, R.A. Baca, F. Gao. <strong>Constraints and Opportunities for Detecting Land Surface Phenology in Drylands.</strong> <em>Preprint&nbsp;<em>bioRxiv.&nbsp;</em></em><a href="https://doi.org/10.1101/2021.05.21.445173">https://doi.org/10.1101/2021.05.21.445173</a> </td> 
                 <td> <a href="https://www.biorxiv.org/content/10.1101/2021.05.21.445173v1.full"><strong>Link</strong></a><br> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Pastick, N.J., B.K. Wylie, M.B. Rigge, D. Dahal, S.P. Boyte, M.O. Jones, B.W. Allred, S. Parajuli, Z. Wu. <strong>Rapid Monitoring of the Abundance and Spread of Exotic Annual Grasses in the Western United States Using Remote Sensing and Machine Learning.</strong> <em>AGU Advances.&nbsp;</em><a href="https://doi.org/10.1029/2020AV000298">https://doi.org/10.1029/2020AV000298</a><br> </td> 
                 <td> <a href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2020AV000298"><strong>Link</strong></a><br> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Felton A.J., R.K. Shriver, J.B. Bradford, K.N. Suding, B.W. Allred, P.B. Adler. <strong>Biotic vs abiotic controls on temporal sensitivity of primary production to precipitation across North American drylands.</strong> <em>New Phytologist. <a href="https://doi.org/10.1111/nph.17543">https://doi.org/10.1111/nph.17543</a></em> </td> 
                 <td> <a href="https://nph.onlinelibrary.wiley.com/doi/abs/10.1111/nph.17543"><strong>Link</strong></a><br> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Smith, J.T., B.W. Allred, C.S. Boyd, K.W. Davies, M.O. Jones, A.R. Kleinhesselink, D.E. Naugle.&nbsp; <strong>Where there's smoke, there's fuel: predicting Great Basin rangeland wildfire. </strong><em>Preprint bioRxiv.&nbsp;</em><a href="https://doi.org/10.1111/ddi.13440">https://doi.org/10.1101/2021.06.25.449963</a> </td> 
                 <td> <a href="https://www.biorxiv.org/content/10.1101/2021.06.25.449963v1"><strong>Link</strong></a> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Morford, S.L., B.W. Allred, D. Twidwell, M.O. Jones, J.D. Maestas, D.E. Naugle.&nbsp; <strong>Biome-scale woody encroachment threatens conservation potential and sustainability of U.S. rangelands. </strong><em>Preprint bioRxiv.&nbsp;</em><a href="https://doi.org/10.1101/2021.04.02.438282" target="_blank">https://doi.org/10.1101/2021.04.02.438282</a> </td> 
                 <td> <a href="https://www.biorxiv.org/content/10.1101/2021.04.02.438282v1.abstract"><strong>Link</strong></a><br> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Scholtz, R., S.D. Fuhlendorf, D.R. Uden, B.W. Allred, M.O. Jones, D.E. Naugle, and D. Twidwell. <strong>The challenges of brush management treatment effectiveness in southern Great Plains, USA.</strong> <em>Rangeland Ecology and Management. <a href="https://doi.org/10.1016/j.rama.2021.03.007">https://doi.org/10.1016/j.rama.2021.03.007</a></em> </td> 
                 <td> <strong></strong><a href="https://www.sciencedirect.com/science/article/pii/S1550742421000361?casa_token=vLQeVHduK9IAAAAA:AzJYEwGraiTyJ0vbgpaTW3Oc50yXd6Sd8ivlQYTArAebcGl-fRMq5pauNczcGjVNISSiR7iGgSU" target="_blank"><strong>Link</strong></a><br> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Donovan, V.M., S.P.H. Dwinnell, J.L. Beck, C.P. Roberts, J.G. Clapp, G.S. Hiatt, K.L. Monteith, and D. Twidwell. <strong>Fire-driven landscape heterogeneity shapes habitat selection of bighorn sheep.</strong> <em>Journal of Mammalogy<strong>.&nbsp;</strong></em><a href="https://doi.org/10.1093/jmammal/gyab035">https://doi.org/10.1093/jmammal/gyab035</a> </td> 
                 <td> <a href="https://academic.oup.com/jmammal/advance-article-abstract/doi/10.1093/jmammal/gyab035/6254254?redirectedFrom=fulltext"><strong>Link</strong></a><strong><br> </strong> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Olsen, A.C. Olsen, J.P. Severson, J.D. Maestas, D.E. Naugle, J. Smith, J.D. Tack, K.H. Yates, and C.A. Hagen. <strong> Reversing tree expansion in sagebrush steppe yields population-level benefit for imperiled grouse.</strong> <em>Ecosphere</em>. <a href="https://doi.org/10.1002/ecs2.3551">https://doi.org/10.1002/ecs2.3551</a><br> <a href="https://doi.org/10.1111/2041-210X.13564"></a> </td> 
                 <td> <strong></strong><a href="https://esajournals.onlinelibrary.wiley.com/doi/10.1002/ecs2.3551"><strong>Link</strong></a><br> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Bestelmeyer, B.T., S. Spiegal, R. Winkler, D. James, M. Levi, J. Williamson.&nbsp; <strong>Assessing Sustainability Goals Using Big Data: Collaborative Adaptive Management in the Malpai Borderlands. </strong><em>Rangeland Ecology and Management </em>77:17-29. <a href="https://doi.org/10.1016/j.rama.2021.03.002">https://doi.org/10.1016/j.rama.2021.03.002</a> </td> 
                 <td> <strong></strong><a href="https://www.sciencedirect.com/science/article/pii/S1550742421000312?dgcid=coauthor"><strong>Link</strong></a> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Smith, J.T., B.W. Allred, C.S. Boyd, K.W. Davies, M.O. Jones, J.D. Maestas, S.L. Morford, and D.E. Naugle.&nbsp; <strong>The elevational ascent and spread of exotic annual grasslands in the Great Basin, USA.&nbsp; </strong><em>Diversity and Distributions. </em><a href="https://doi.org/10.1111/ddi.13440">https://doi.org/10.1111/ddi.13440</a><br> <a href="https://doi.org/10.1101/2020.11.06.343038"></a> </td> 
                 <td> <a href="https://onlinelibrary.wiley.com/doi/10.1111/ddi.13440"><strong>Link</strong></a><strong><br> </strong> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Lazenby, K. D., P.S. Coates, S.T. O’Neil, M.T. Kohl, and D.K.&nbsp;Dahlgren. <strong>Nesting, brood rearing, and summer habitat selection by translocated greater sage‐grouse in North Dakota,</strong>&nbsp;<strong>USA</strong>.&nbsp;<em>Ecology and Evolution</em>. <a href="https://doi.org/10.1016/j.rama.2021.03.002">https://doi.org/10.1016/j.rama.2021.03.002</a> </td> 
                 <td> <strong></strong><a href="https://onlinelibrary.wiley.com/doi/10.1002/ece3.7228"><strong>Link</strong></a> </td> 
                </tr> 
                <tr> 
                 <td> 2020 </td> 
                 <td> Fogarty, D.T., C.P. Roberts, D.R. Uden, V.M. Donovan, C.R. Allen, D.E. Naugle, M.O. Jones, B.W. Allred, B.W., and D. Twidwell.&nbsp; <strong>Woody Plant Encroachment and the Sustainability of Priority Conservation Areas</strong>.&nbsp;<em>Sustainability</em>,&nbsp;<em>12</em>, 8321. <a href="https://doi.org/10.3390/su12208321">https://doi.org/10.3390/su12208321</a> </td> 
                 <td> <a href="https://www.mdpi.com/2071-1050/12/20/8321"><strong>Link</strong></a><strong><br> </strong> </td> 
                </tr> 
                <tr> 
                 <td> 2020 </td> 
                 <td> Donovan, V.M., D. Twidwell, D.R. Uden, T. Tadesse, B.D. Wardlow, C.H. Bielski, M.O. Jones, B.W. Allred, D.E. Naugle, and C.R. Allen. <strong>Resilience to large, “catastrophic” wildfires in North America’s grassland biome</strong>.&nbsp;<em>Earth’s Future</em>,&nbsp;8, e2020EF001487 <a href="https://doi.org/10.1029/2020EF001487">https://doi.org/10.1029/2020EF001487</a> </td> 
                 <td> <strong></strong><a href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2020EF001487"><strong>Link</strong></a> </td> 
                </tr> 
                <tr> 
                 <td> 2020 </td> 
                 <td> Bestelmeyer B.T., G. Marcillo, S.E. McCord, S. Mirski, G. Moglen, L.G. Neven, D. Peters, C. Sohoulande, and W. Tewodros.&nbsp; <strong>Scaling up agricultural research with artificial intelligence</strong>. <em>IT Professional</em>; 22:33–38. <a href="https://doi.org/10.1109/MITP.2020.2986062">https://doi.org/10.1109/MITP.2020.2986062</a> </td> 
                 <td> <strong></strong><a href="https://ieeexplore.ieee.org/abstract/document/9098013/authors#authors"><strong>Link</strong></a> </td> 
                </tr> 
                <tr> 
                 <td> 2019 </td> 
                 <td> Robinson, N.P., B.W. Allred, D.E. Naugle, and M.O. Jones. <strong>Patterns of rangeland productivity and land ownership: Implications for conservation and management.</strong> <em>Ecological Applications</em> 29:e01862. <a href="https://doi.org/10.1002/eap.1862">https://doi.org/10.1002/eap.1862</a><br> </td> 
                 <td> <a href="https://esajournals.onlinelibrary.wiley.com/doi/full/10.1002/eap.1862"><strong>Link</strong></a><strong><br> </strong> </td> 
                </tr> 
                <tr> 
                 <td> 2019 </td> 
                 <td> Chambers, J.C., M.L. Brooks, M.J. Germino, J.D. Maestas, D.I. Board, M.O. Jones, and B.W. Allred.&nbsp; <strong>Operationalizing resilience and resistance concepts to address invasive grass-fire cycles.</strong>&nbsp;<em>Front. Ecol. Evol</em>. 7:185. <a href="https://doi.org/10.1002/eap.1862"></a><a href="https://doi.org/10.3389/fevo.2019.00185">https://doi.org/10.3389/fevo.2019.00185</a> </td> 
                 <td> <a href="https://www.frontiersin.org/articles/10.3389/fevo.2019.00185/full"><strong>Link</strong></a><strong><br> </strong> </td> 
                </tr> 
                <tr> 
                 <td> 2018 </td> 
                 <td> Roberts, C.P., D. Twidwell, J.L. Burnett, V.M. Donovan, C.L. Wonkka, C.L. Bielski, A.S. Garmestani, D.G. Angeler, T. Eason, B.W. Allred, M.O. Jones, D.E. Naugle, S.M. Sundstrom, and C.R. Allen. <strong>Early warnings for state transitions.</strong> <em>Rangeland Ecology and Management</em> 71:659-670. <a href="https://doi.org/10.1016/j.rama.2018.04.012">https://doi.org/10.1016/j.rama.2018.04.012</a><br> </td> 
                 <td> <strong></strong><a href="https://www.sciencedirect.com/science/article/abs/pii/S1550742418301337?casa_token=9aovq8N6aZMAAAAA:saO--dDunuIGDwIxWT-B3PEz0fUXpmDvg7PQtc4gNp0wWiFzawSgFJR70FqL1swbcYoqi4AfO7w"><strong>Link</strong></a> </td> 
                </tr> 
               </tbody> 
              </table>
              <p style="color:white;"> _</p>
              <section class="callout-red">
               <h2>Reports </h2>
               <p> These reports describe applications of RAP datasets in rangeland management.</p>
              </section> 
              <table> 
               <tbody> 
                <tr> 
                 <td> 2021 </td> 
                 <td> Twidwell, D. and D.T. Fogarty.&nbsp; <strong>A guide to reducing risk and vulnerability to woody encroachment in rangelands.</strong> </td> 
                 <td> <a href="https://wlfw.rangelands.app/assets/greatPlainsMaterials/E-1054WoodyEncroachment.pdf" target="_blank"><strong>Link</strong></a> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> USDA-NRCS Working Lands for Wildlife. <strong>A decade of science support in the sagebrush biome</strong><br> </td> 
                 <td> <a href="https://naldc.nal.usda.gov/catalog/7488985"><strong>Link</strong></a><strong><br> </strong> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> USDA-NRCS Working Lands for Wildlife. <strong>&nbsp;Framework for Conservation Action for the Great Plains Grassland Biome.</strong> </td> 
                 <td> <strong></strong><a href="https://wlfw.rangelands.app/great-plains/"><strong>Link</strong></a> </td> 
                </tr> 
                <tr> 
                 <td> 2021 </td> 
                 <td> USDA-NRCS Working Lands for Wildlife.&nbsp; <strong>Framework for Conservation Action for the Sagebrush Biome.</strong> </td> 
                 <td> <strong></strong><a href="https://wlfw.rangelands.app/sagebrush/"><strong>Link</strong></a> </td> 
                </tr> 
                <tr> 
                 <td> 2020 </td> 
                 <td> Western Governors' Association.&nbsp; <strong>A Toolkit for Invasive Annual Grass Management in the West.</strong><strong><br> </strong> </td> 
                 <td> <a href="https://westgov.org/images/editor/FINAL_Cheatgrass_Toolkit_July_2020.pdf"><strong>Link</strong></a><br> <strong></strong> </td> 
                </tr> 
               </tbody> 
              </table>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2022-01-18 >Last updated on January 18, 2022</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


