<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>RAP Metadata - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Follow the links below (or right-click and &quot;Save link as...&quot; to download) to view XML files of FGDC CSDGM standard metadata. General audience metadata Herbaceou"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="59-rap-metadata"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="RAP Metadata" />
    <meta name="twitter:description" content="Follow the links below (or right-click and &quot;Save link as...&quot; to download) to view XML files of FGDC CSDGM standard metadata. General audience metadata Herbaceou"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="/assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">RAP Metadata</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <p> Follow the links below (or right-click and "<em>Save link as...</em>" to download) to view XML files of FGDC CSDGM standard metadata.</p>
              <p> <strong>General audience metadata</strong></p>
              <ul>
               <li><a href="/assets/metadata/HerbaceousBiomass_General.xml">Herbaceous Biomass dataset</a></li>
               <li><a href="/assets/metadata/VegetationCover_General.xml">Vegetation Cover dataset</a></li>
              </ul> 
              <p> <strong>Bureau of Land Management-compliant metadata</strong></p>
              <ul>
               <li><a href="/assets/metadata/HerbaceousBiomass_BLM.xml">Herbaceous Biomass dataset</a></li>
               <li><a href="/assets/metadata/VegetationCover_BLM.xml">Vegetation&nbsp;Cover dataset</a></li>
              </ul> 
              <p><strong>README files</strong></p>
              <ul>
               <li><a href="http://rangeland.ntsg.umt.edu/data/rap/rap-vegetation-biomass/v2/README">Herbaceous Biomass dataset</a></li>
               <li><a href="http://rangeland.ntsg.umt.edu/data/rap/rap-vegetation-cover/v2/README">Vegetation Cover dataset</a></li>
               <li><a href="http://rangeland.ntsg.umt.edu/data/rap/rap-vegetation-npp/v2/README">Rangeland Net Primary Production (NPP) dataset</a></li>
              </ul>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-03-31 >Last updated on March 31, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


