<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>FAQs - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Q: How can I export time-series CSVs in batch for many regions of interest at a time? A: We offer a script in Google Earth Engine for running analysis over as m"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="60-faqs.html"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="FAQs" />
    <meta name="twitter:description" content="Q: How can I export time-series CSVs in batch for many regions of interest at a time? A: We offer a script in Google Earth Engine for running analysis over as m"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="/assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">FAQs</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <dl> 
                <dt>
                  Q: 
                </dt> 
                <dd> 
                 <h3> How can I export time-series CSVs in batch for many regions of interest at a time?</h3>
                </dd> 
                <dt>
                  A: 
                </dt> 
                <dd>
                 We offer 
                <a href="61-processing-rap-data-in-google-earth-engine"><strong>a script in Google Earth Engine for running analysis</strong></a> over as many features as you have in your shapefile. If that is inaccessible to you, for whatever reason, we are happy run it for you if you provide a shapefile to us.&nbsp; 
                 <p> There is nothing worse than clicking through hundreds of polygons and exporting CSVs individually in RAP—we want to help you avoid that painful process. </p>
                 <p style="color:white;"> . </p>
                </dd> 
                <dt>
                  Q: 
                </dt> 
                <dd> 
                 <h3>How can I download or analyze the RAP raster data directly? </h3>
                </dd> 
                <dt>
                  A: 
                </dt> 
                <dd> 
                 <p> The easiest way to download raster data is to clip it to your region, select the specific years you are interested in, and select the specific variables you are interested in. <a href="61-processing-rap-data-in-google-earth-engine"><strong>We offer Google Earth Engine scripts and instructions for doing just that.</strong></a> </p>
                 <p> If you would like to download all of the RAP data, you can do so at the site: <a href="http://rangeland.ntsg.umt.edu/data/rap/"><strong>http://rangeland.ntsg.umt.edu/data/rap/</strong></a> </p>
                 <p> If you are a data analyst with experience in Google Earth Engine, we make most RAP products freely available for analysis. <strong><a href="61-processing-rap-data-in-google-earth-engine">See more information here.</a></strong> </p>
                 <p style="color:white;"> . </p>
                </dd> 
                <dt>
                  Q: 
                </dt> 
                <dd> 
                 <h3>I read about the Vegetation Cover uncertainty product in Allred, et al (2021). How can I access and interpret that dataset?</h3>
                </dd> 
                <dt>
                  A: 
                </dt> 
                <dd> 
                 <p> <em>Accessing uncertainty data:</em> </p>
                 <p> <strong></strong>There are currently three options for accessing the Vegetation Cover and uncertainty datasets. The most efficient method is to use Google Earth Engine. Here is a <a href="https://code.earthengine.google.com/e7358dcb2238b66263fbe5f4d9ef794a?noload=true"><strong>sample script</strong></a> for exporting data for a specific region and year(s). And this <a href="http://rangeland.ntsg.umt.edu/data/rap/rap-vegetation-cover/v2/README"><strong>README</strong></a> describes the data in more detail. In the sample script, you’ll notice PFTs (band names) ending in ‘STD’ – these are the uncertainty bands for each PFT. </p>
                 <p style=""> We suggest using the data in Earth Engine itself for analysis (ImageCollection ‘projects/rangeland-analysis-platform/vegetation-cover-v2’) as these data are large typically too large to process locally. <br> <br> The other two methods are downloading the data directly via <a href="http://rangeland.ntsg.umt.edu/data/rap/rap-vegetation-cover/"><strong>http://rangeland.ntsg.umt.edu/data/rap/rap-vegetation-cover/</strong></a> or downloading subsets of these large files using GDAL – a description of that can be found in the same <a href="http://rangeland.ntsg.umt.edu/data/rap/rap-vegetation-cover/v2/README"><strong>README</strong></a>.<br> <br> <em>Interpreting uncertainty data:</em> </p>
                 <p> Uncertainty values represent a standard deviation of predictions. As such, they may be standardized by the mean when comparing across groups. Appropriate actions should be taken when the mean is less than one. Uncertainty values are scaled by 100. <br> <br> In more straightforward terms – the model makes multiple predictions for each pixel. Predictions are repeated four times, the mean of those predictions is the cover value, and the standard deviation of those predictions is the uncertainty. Uncertainty should be interpreted as just that – how certain is the model in its prediction? If each of the four predictions is similar then the uncertainty is low, if the value varies with each prediction then the uncertainty will be high. <br> <br> Note that uncertainty is different from error or accuracy. The mean absolute error (MAE), root mean square error (RMSE), and relative standard error (RSE) are calculated by comparing predictions to a validation dataset of field plots.&nbsp; </p>
                 <p style="color:white;"> . </p>
                </dd> 
              </dl>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-07-20 >Last updated on July 20, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li ><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li ><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li ><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li  class="active" ><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


