<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Processing RAP data in Google Earth Engine - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Google Earth Engine (GEE) is a geospatial processing service powered by the Google Cloud Platform. RAP data are accessible within GEE in the following image col"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="61-processing-rap-data-in-google-earth-engine"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Processing RAP data in Google Earth Engine" />
    <meta name="twitter:description" content="Google Earth Engine (GEE) is a geospatial processing service powered by the Google Cloud Platform. RAP data are accessible within GEE in the following image col"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="/assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Processing RAP data in Google Earth Engine</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <p> <img src="/assets/images/rap-support-61-1.png"></p>
              <p> <strong><a href="https://earthengine.google.com/">Google Earth Engine (GEE)</a></strong>&nbsp;is a geospatial processing service powered by the Google Cloud Platform. RAP data are accessible within&nbsp;GEE in the following image collections:</p>
              <section class="callout-blue">
               <p style="font-size:18px;"> <strong>RAP data products:</strong></p>
               <ul> 
                <li><strong>Vegetation cover</strong>:&nbsp;projects/rangeland-analysis-platform/vegetation-cover-v3</li> 
                <li><strong>Annual net primary production</strong>:&nbsp;projects/rangeland-analysis-platform/npp-partitioned-v3</li>
               </ul>
              </section>
              <p> Below we provide simple scripts for common requests, e.g., exporting raster data. These scripts and the corresponding documentation were written for novice GEE users, so no need to flee at the sight of the coding language.&nbsp;</p>
              <p> While we do not have the capacity to provide support for detailed RAP analysis in GEE, there are numerous <a href="https://developers.google.com/earth-engine/"><strong>online resources</strong></a> available.</p>
              <section class="callout-yellow"> 
               <strong>You will need to create a GEE account prior to exporting data.&nbsp;</strong> 
               <a href="https://signup.earthengine.google.com/#!/"><strong>Create your account here.</strong></a> 
              </section>
              <h2>RAP GEE Scripts</h2>
              <section class="callout-green">
               <p style="font-size:18px;"> <strong>Export raster data</strong></p>
               <ul> 
                <li><a href="/support/62-export-vegetation-cover-rasters"><strong>Export RAP Vegetation Cover rasters</strong></a></li> 
                <li><strong><a href="/support/63-export-annual-biomass-rasters">Export RAP Herbaceous Biomass rasters</a></strong></li>
               </ul>
               <h4>Export time-series data as CSV for multiple regions of interest</h4>
               <ul> 
                <li><strong></strong><a href="/support/64-batch-export-vegetation-cover-csvs"><strong>Batch export Vegetation Cover CSVs</strong></a></li> 
                <li><strong></strong><a href="/support/65-batch-export-herbaceous-biomass-csvs"><strong>Batch export Herbaceous Biomass CSVs</strong></a></li>
               </ul>
              </section>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2022-01-03 >Last updated on January 3, 2022</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


