<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Export Annual Biomass rasters - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Purpose The script linked below exports RAP Annual Herbaceous Biomass raster data (TIF file format) from Google Earth Engine to your personal Google Drive. Foll"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="63-export-annual-biomass-rasters"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Export Annual Biomass rasters" />
    <meta name="twitter:description" content="Purpose The script linked below exports RAP Annual Herbaceous Biomass raster data (TIF file format) from Google Earth Engine to your personal Google Drive. Foll"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="/assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Export Annual Biomass rasters</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <h2> Purpose</h2>
              <p> The script linked below exports RAP&nbsp;Annual Herbaceous Biomass&nbsp;raster data (TIF file format) from Google Earth Engine to your personal Google Drive.</p>
              <section class="callout-green">
               <p style="font-size:18px"><strong><a href="https://code.earthengine.google.com/495e8b4a98318328b8c19f327fcd7d98?noload=true" target="_blank">Follow this link to the script!</a></strong></p>
              </section>
              <h2> Step-by-step Instructions</h2>
              <dl> 
               <dt>
                 1 
               </dt> 
               <dd> 
                <strong>Define your region of interest</strong> 
               </dd> 
               <dd>
                 For the purposes of this script, we suggest that you draw your region of interest using the GEE interactive map. You can do so by zooming to your general region of interest and then either drawing a free-hand polygon or a rectangle. 
               </dd> 
               <dd> 
                <p> <img src="/assets/images/rap-support-63-1.png" style="width: 218px;"> </p>
               </dd> 
               <dd>
                 Once you have created your region, you will see a new import "geometry" at the top of the script. 
               </dd> 
               <dd> 
                <p> <img src="/assets/images/rap-support-63-2.png" style="width: 378px;"> </p>
                <section class="callout-yellow"> 
                 <strong>Note: If your region is too large, you will receive an error!</strong> 
                </section>
               </dd> 
               <p style="color:white; font-size:4px;"> _ </p>
               <dt>
                 2 
               </dt> 
               <dd> 
                <strong>Define the years that you want to export</strong> 
               </dd> 
               <dd>
                 The 
                <em>yearStart </em>and 
                <em>yearEnd</em> variables on&nbsp; 
                <em>lines 20 and 21</em>&nbsp;of the script define the first and last years of data that will be exported. So, the example below exports data for every year between 2010 and 2019. 
               </dd> 
               <dd> 
                <p> <img src="/assets/images/rap-support-63-3.png" style="width: 594px;"> </p>
               </dd> 
               <dd> 
                <p> To export a single year, simply set the <em>yearStart</em> and <em>yearEnd</em>&nbsp;to the year of interest. To export multiple non-sequential years, simply run the script multiple times. </p>
               </dd> 
               <p style="color:white; font-size:4px;"> \ </p>
               <p style="color:white; font-size:4px;"> </p>
               <dt>
                 3 
               </dt> 
               <dd> 
                <strong>Define the plant functional types that you want to export</strong> 
               </dd> 
               <dd>
                 The 
                <em>PFTs</em> variable on 
                <em>line 27</em>&nbsp;of the script is a list of the plant functional types (PFTs) that you want to export. You can either keep the entire list if you want to export all of them or remove any PFTs that you are not interested in.&nbsp; 
               </dd> 
               <dd> 
                <p> <img src="/assets/images/rap-support-63-4.png"> </p>
               </dd> 
               <dd> 
                <div>
                  &nbsp;'afgAGB' is annual forb and grass aboveground biomass, 'pfgAGB' is perennial forb and grass aboveground biomass,&nbsp;and 'herbaceousAGB' is total herbaceous aboveground biomass. 
                </div>
               </dd> 
               <p style="color:white; font-size:4px;"> _ </p>
               <dt>
                 4 
               </dt> 
               <dd> 
                <strong>Export your data</strong> 
               </dd> 
               <dd>
                 Simply click "Run" at the top of the script to export your data, which will initiate the export process for each year of data. 
               </dd> 
               <dd> 
                <p> <img src="/assets/images/rap-support-63-5.png" style="width: 554px;"> </p>
               </dd> 
               <dd> 
                <p> Almost immediately, the "Tasks" tab in the right-side panel will turn yellow indicating that you are ready to export. When you click "Tasks" you will see a list with items for each year of data that you exported. Click "Run" on each of them to begin processing. </p>
               </dd> 
               <dd> 
                <p> <img src="/assets/images/rap-support-63-6.png" style="width: 597px;"> </p>
               </dd> 
               <p style="color:white; font-size:4px;"> _ </p>
               <dt>
                 5 
               </dt> 
               <dd> 
                <strong>Retrieve your data</strong> 
               </dd> 
               <dd>
                 Depending upon how much data you exported, the process may take several to many hours to complete. However, once you have started the export you can close the Earth Engine tab and it will continue to run. You can always return to the Tasks tab at 
                <a href="https://code.earthengine.google.com/">code.earthengine.google.com</a> to check on the progress of your exports, 
               </dd> 
               <dd>
                 Once your images have finished exporting you will find them in a new "RAP_exports" folder in your Google Drive. They are now available for you to download to your local computer. 
               </dd>
              </dl>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2022-01-01 >Last updated on January 1, 2022</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support">Support home  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/46-new-to-rap-start-here-landing">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/47-what-is-rap-landing">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li class="active"><a href="/support/45-using-rap-landing">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li><a href="/support/52-troubleshooting-and-faqs-landing">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>    
  </body>
</html>


