<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Production Explorer Application - Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="What is the Production Explorer? Purpose This application analyzes the Rangeland Analysis Platform&#x27;s 16-day rangeland production data and is designed to assist "/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="70-production-explorer"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Production Explorer Application" />
    <meta name="twitter:description" content="What is the Production Explorer? Purpose This application analyzes the Rangeland Analysis Platform&#x27;s 16-day rangeland production data and is designed to assist "/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body>
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="contentArea" class="container-fluid">
      <div class="row-fluid">
        <section id="main-content" class="span9">
          <div class="contentWrapper">
            <article id="fullArticle">
              <h1 class="title">Production Explorer Application</h1>
              <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
              <h1></h1>
              <h1><img src="/assets/images/rap-support-70-1.png" style="width: 730px;"></h1>
              <h1>What is the Production Explorer?</h1>
              <h3>Purpose</h3>
              <p> This application analyzes the Rangeland Analysis Platform's 16-day rangeland production data and is designed to assist with the assessment of current and historic departures from the long-term average and for assessing stocking rates.</p>
              <h3>Disclaimer</h3>
              <p> RAP should not be used in isolation. Such analyses should be conducted with information specific to the area under investigation. This application is preliminary and is subject to change.&nbsp;</p>
              <h3> <strong></strong><a href="https://wlfw-um.shinyapps.io/production-explorer/"><strong>Visit the application here</strong></a></h3>
              <hr>
              <h1>Getting started with the Production Explorer</h1>
              <dl> 
                <dt>
                  1 
                </dt> 
                <dd> 
                   <strong>Define a start and end year for calculating the long-term average</strong> 
                </dd> 
                <dd>
                  Back in the Production Explorer, define your start and end year for the long-term average. 
                </dd> 
                <dd>
                  In most situations, the default twenty-year period from 2001–2020 will be suitable. However, we provide you with the flexibility to define the long-term period however you like. 
                </dd> 
                <dd> 
                  <img src="/assets/images/rap-support-70-2.png" style="width: 613px;"> 
                </dd> 
                <dd>
                  Note: The years that you select must be between 1986–2020. 
                  <br> 
                </dd> 
                <dl> 
                  <dt>
                    2 
                  </dt> 
                <dd> 
                  <strong>Upload a Shapefile OR RAP 16-day biomass CSV</strong> 
                </dd>
                <dd> 
                 <strong>Video explanation of uploading a shapefile and using the Production Explorer</strong> 
                </dd>
                <dd> 
                  <strong><br> <iframe width="700" height="400" src="https://www.youtube.com/embed/LhpaeNTP2WU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe></strong>
                </dd>
                <dd></dd>
                <dd> 
                  <p> <strong>Video explanation of uploading a RAP 16-day biomass CSV and using the Production Explorer</strong> </p>
                </dd>
                <dd> 
                  <p> <strong></strong> </p>
                  <p> <iframe width="700" height="400" src="https://www.youtube.com/embed/l0anvM02ltA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe></p>
                </dd>
                <dd> 
                  <p> <strong><br> </strong> </p>
                </dd> 
                <dt>
                  4 
                </dt> 
                <dd> 
                  <strong>Click on the "Current production", "Historical production", and "Stocking rate" tabs to explore the data </strong> 
                </dd>
                <dd>
                   The 
                  <strong>current</strong> tab provides a near-real-time assessment of the current year's production relative to the long-term average. The&nbsp; 
                  <strong>historic</strong>&nbsp;tab provides information about past years relative to the long-term average. The 
                  <strong>Stocking Rate </strong>tab estimates stocking rates for the entire period selected by the user. 
                </dd>
                <dd> 
                  <img src="/assets/images/rap-support-70-3.png" style="width: 867px;"> 
                </dd> 
               </dl>
              </dl>
              <h1></h1>
            </article>
            <section class="articleFoot">
              <time class="lu" datetime=2021-09-23 >Last updated on September 23, 2021</time>
            </section>
          </div><!--/contentWrapper-->
        </section><!--/content-->
        <aside id="sidebar" class="span3">
          <h3>Categories</h3>
          <ul class="nav nav-list">
            <li><a href="/support/">Support home  <i class="icon-arrow"></i></a></li>
            <li ><a href="/support/6-rap-fundamentals">New to RAP - Start Here!  <i class="icon-arrow"></i></a></li>
            <li ><a href="/support/5-rap-facts">What is RAP?  <i class="icon-arrow"></i></a></li>
            <li ><a href="/support/7-rap-applications">How to Use RAP  <i class="icon-arrow"></i></a></li>
            <li ><a href="/support/51-troubleshooting-and-faqs">Troubleshooting and FAQs  <i class="icon-arrow"></i></a></li>
          </ul>
        </aside><!--/span-->
      </div><!--/row-->
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>


