<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Changelog - Rangeland Analysis Platform</title>
    <meta name="description" content="Rangeland Analysis Platform">
    <meta name="author" content="Rangeland Analysis Platform">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Rangeland Analysis Platform">
    <meta property="og:title" content="Changelog">
    <meta property="og:url" content="https://rangelands.app/changelog/">
    <meta property="og:description" content="Rangeland Analysis Platform">
    <link rel="canonical" href="https://rangelands.app/changelog/">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",        
        "@type": "Person",
        "name": null,
        "url": "https://rangelands.app/"
      }
    </script>
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Rangeland Analysis Platform Feed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
    </script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <!--[if IE]>
    <style>
      /* old IE unsupported flexbox fixes */
      .greedy-nav .site-title {
        padding-right: 3em;
      }
      .greedy-nav button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
    </style>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body class="layout--single wide2">
    <%- include('header', {}); %>
    <div class="initial-content">
      <div id="main" role="main">
        <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
          <meta itemprop="headline" content="Changelog">
          <div class="page__inner-wrap">
            <header>
              <h1 id="page-title" class="page__title" itemprop="headline">Changelog</h1>
            </header>
            <section class="page__content" itemprop="text">
              <h2 id="2023-03-17">2023-03-17</h2>
              <p>Website and Dataset: ARS assumes stewardship of RAP data products and website<br />
              Dataset: Continuous vegetation cover v3.0 update - add 2022<br />
              Dataset: Annual aboveground biomass v3.0 update - add 2022</p>

              <h2 id="2022-02-05">2022-02-05</h2>
              <p>Dataset: Continuous vegetation cover v3.0 update - add 2021<br />
              Dataset: Annual aboveground biomass v3.0 update - add 2021</p>

              <h2 id="2022-01-01">2022-01-01</h2>
              <p>Dataset: Continuous vegetation cover v3.0 release<br />
              Dataset: Annual aboveground biomass  v3.0 release<br />
              Dataset: 16-day aboveground biomass v3.0 release</p>

              <h2 id="2021-04-02">2021-04-02</h2>
              <p>Dataset: Cultivation risk update - switch to Olimb and Robinson (2019)</p>

              <h2 id="2021-03-29">2021-03-29</h2>
              <p>Dataset: Continuous vegetation cover v2.0 update - add 2020<br />
              Dataset: Annual aboveground biomass v2.0 update - add 2020<br />
              Dataset: Categorical tree cover update - add 2020<br />
              Dataset: Woody transitions update - add 2020</p>

              <h2 id="2020-11-06">2020-11-06</h2>
              <p>Dataset: Real-time 16-day aboveground biomass<br />
              Web: Real-time 16-day aboveground biomass</p>

              <h2 id="2020-10-15">2020-10-15</h2>
              <p>Dataset: 16-day aboveground biomass<br />
              Web: 16-day aboveground biomass</p>

              <h2 id="2020-08-09">2020-08-09</h2>
              <p>Dataset: Annual aboveground biomass<br />
              Web: Annual aboveground biomass</p>

              <h2 id="2020-07-08">2020-07-08</h2>
              <p>Dataset: Annual herbaceous cover added<br />
              Dataset: Ecosystem resilience and resistance added<br />
              Dataset: Categorical tree cover added<br />
              Dataset: Woody transitions added<br />
              Dataset: Cultivation risk added<br />
              Web: Sagebrush and Great Plains conservation tabs added</p>

              <h2 id="2020-07-06">2020-07-06</h2>
              <p>Dataset: Continuous vegetation cover v2.0 release</p>

              <h2 id="2020-04-06">2020-04-06</h2>
              <p>Web: User interface update</p>

              <h2 id="2020-02-14">2020-02-14</h2>
              <p>Dataset: Continuous vegetation cover v1.0 update - add 2019</p>

              <h2 id="2019-02-15">2019-02-15</h2>
              <p>Dataset: Continuous vegetation cover v1.0 update - add 2018</p>

              <h2 id="2018-07-10">2018-07-10</h2>
              <p>Dataset: Continuous vegetation cover v1.0 release<br />
              Web: RAP beta launch</p>
            </section>
            <footer class="page__meta"></footer>
          </div>
        </article>
      </div>
    </div>
    <%- include('footer', {}); %>
    <script src="/assets/js/main.min.js"></script>
  </body>
</html>
