    <div id="footer" class="page__footer">
      <footer>
        <div class="affiliation-section">
          <img src="/assets/logos/thumbnail_ars-color-lockup.png" alt="Agricultural Research Service logo">
          <img src="/assets/logos/thumbnail_JER_logo-windmill.png" alt="Jornada Experimental Range logo">
        </div>
        <div class="page__footer-follow">
          <ul class="social-icons"></ul>
        </div>
        <div class="page__footer-copyright"><a href="/changelog/">Changelog</a> | <a href="/tos/">Terms of Service</a> | <a href="mailto:sarah.mccord@usda.gov">Contact Us</a></div>
        <div class="page__footer-copyright" style="max-width:600px">RAP was developed by the University of Montana in partnership with Working Lands for Wildlife of the USDA’s Natural Resources Conservation Service, the Bureau of Land Management, and the USDA ARS.</div>
        <div class="page__footer-copyright">Made with data collected by  
          <a href="https://www.blm.gov/about/how-we-manage/assessment-inventory-and-monitoring-strategy" rel="nofollow">BLM AIM</a>, 
          <a href="https://www.nps.gov/im/ncpn/index.htm" rel="nofollow">NPS NPCN</a>, & 
          <a href="https://www.nrcs.usda.gov/wps/portal/nrcs/main/national/technical/nra/nri/" rel="nofollow">NRCS NRI</a>.
        </div>
      </footer>
    </div>
