<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Great Basin rangeland fire probability</title>
    <meta name="description" content="Rangeland Analysis Platform Great Basin fire probability">
    <meta name="author" content="Rangeland Analysis Platform">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Rangeland Analysis Platform">
    <meta property="og:title" content="Great Basin rangeland fire probability">
    <meta property="og:url" content="https://rangelands.app/great-basin-fire/">
    <meta property="og:description" content="Rangeland Analysis Platform Great Basin fire probability">
    <link rel="canonical" href="https://rangelands.app/great-basin-fire/">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": null,
        "url": "https://rangelands.app/great-basin-fire/"
      }
    </script>
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Rangeland Analysis Platform Feed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
    </script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <!--[if IE]>
    <style>
      /* old IE unsupported flexbox fixes */
      .greedy-nav .site-title {
        padding-right: 3em;
      }
      .greedy-nav button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
    </style>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body class="layout--single wide">
    <%- include('header', {}); %>
    <div class="initial-content">
      <div id="main" role="main">
        <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
        <meta itemprop="headline" content="Great Basin rangeland fire probability">
          <div class="page__inner-wrap">
            <header>
              <h1 id="page-title" class="page__title" itemprop="headline">Great Basin rangeland fire probability</h1>
            </header>
            <section class="page__content" itemprop="text">
              <p><em>Updated September 24, 2022</em></p>
              <p><em>This page has been updated to include the most recent modeling efforts described in <a href="https://doi.org/10.1016/j.rama.2022.07.005">Smith et al. (2022)</a>.</em></p>
              <h3>Where are large fires most likely to occur throughout the year given an ignition?</h3>
              <p>This map represents the relative probability of large (&gt; 1,000 acres) rangeland
              fire given an ignition. Probabilities are for the entire year or fire season.
              The map should be used alongside other fire risk or prediction services.
              Probabilities are calculated using RAP biomass, RAP cover, and various
              climate/drought indices. Maps are available in early March.</p>
              <p><img src="/assets/images/great-basin-fire/probability_2022_doy_065.png" alt="Great Basin rangeland fire probability"/></p>
              <h3>How does this year compare to the past?</h3>
              <p>There is a clear relationship between the area-wide average fire probability
              across the Great Basin in the month of March and the total area burned that year
              (see figure below). 2022 is shown as a yellow dot and represents a coarse
              prediction of the total area burned for 2022. This allows us to compare how the
              coming fire season might relate to past years in terms of total area burned.
              This prediction, however, entails considerable uncertainty. Besides fuels, the
              severity of the fire season depends on variables such as fire weather,
              ignitions, and fire suppression resource availability that cannot be predicted
              months in advance.</p>
              <p><img src="/assets/images/great-basin-fire/area_2022_065.png" alt="Great Basin rangeland fire area"/></p>
              <p>Across the Great Basin, there has historically been a strong correlation between
              the Palmer Drought Severity Index (PDSI) in June and the total area burned by
              wildfires the following year. This relationship, which corroborates the
              importance of the previous year’s vegetation production in controlling fire in
              the Great Basin, has been especially strong since about 2000. The PDSI from June
              of last year is therefore an additional indicator of the likely severity of the
              upcoming fire season.</p>
              <p><img src="/assets/images/great-basin-fire/pdsi_2021.png" alt="Great Basin rangeland fire area"/></p>
              <h3>What do past years look like?</h3>
              <p>The figure below shows the total area burned each year (large wildfires &gt;1,000
              acres) in the Great Basin. Bars are color-coded to display how much of that area
              was in each probability category by March of that year. The overwhelming
              majority of wildfire occurred in areas with probabilities &gt;0.5 (warm colors).
              Areas with lower probabilities (cold colors) burned much less.</p>
              <p><img src="/assets/images/great-basin-fire/burn_area_barplot.png" alt="Great Basin rangeland fire area-probability"/></p>
              <p>Probabilities of past years and the fires that occurred (depicted by purple polygons) can be viewed in the video below.</p>

              <!-- Courtesy of embedresponsively.com //-->

              <div class="responsive-video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/V12XzlHU41g" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
              </div>
            </section>
          </div>
        </article>
      </div>
    </div>
    <%- include('footer', {}); %>
    <script src="/assets/js/main.min.js"></script>
  </body>
</html>