
    <nav class="skip-links">
      <h2 class="screen-reader-text">Skip links</h2>
      <ul>
        <li><a href="#site-nav" class="screen-reader-shortcut">Skip to primary navigation</a></li>
        <li><a href="#main" class="screen-reader-shortcut">Skip to content</a></li>
        <li><a href="#footer" class="screen-reader-shortcut">Skip to footer</a></li>
      </ul>
    </nav>

    <!--[if lt IE 9]>
    <div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->

    <div class="masthead">
      <div class="masthead__inner-wrap">
        <div class="masthead__menu">
          <nav id="site-nav" class="greedy-nav">
            <a class="site-logo" href="/"><img src="/assets/images/rapIconSmall.png" alt=""></a>
            <a class="site-title" href="/">Rangeland Analysis Platform</a>
            <ul class="visible-links">
              <li class="masthead__menu-item">
                <a href="/rap/">Launch RAP</a>
              </li>
              <li class="masthead__menu-item">
                <a href="/news/">News</a>
              </li>
              <li class="masthead__menu-item">
                <a href="/products/">Products</a>
              </li>
              <li class="masthead__menu-item">
                <a href="/support/">Support</a>
              </li>
            </ul>
            <button class="greedy-nav__toggle hidden" type="button">
              <span class="visually-hidden">Toggle menu</span>
              <div class="navicon"></div>
            </button>
            <ul class="hidden-links hidden"></ul>
          </nav>
        </div>
      </div>
    </div>