<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Rangeland Analysis Platform</title>
    <meta name="description" content="Rangeland Analysis Platform">
    <meta name="author" content="Rangeland Analysis Platform">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Rangeland Analysis Platform">
    <meta property="og:title" content="Rangeland Analysis Platform">
    <meta property="og:url" content="https://rangelands.app/">
    <meta property="og:description" content="Rangeland Analysis Platform">
    <meta property="og:image" content="https://rangelands.app/assets/images/tallgrass.jpg">
    <link rel="canonical" href="https://rangelands.app/">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": null,
        "url": "https://rangelands.app/"
      }
    </script>
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Rangeland Analysis Platform Feed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
    </script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <!--[if IE]>
    <style>
      /* old IE unsupported flexbox fixes */
      .greedy-nav .site-title {
        padding-right: 3em;
      }
      .greedy-nav button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
    </style>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body class="layout--splash">
    <%- include('header', {}); %>
    <div class="initial-content">
      <div class="page__hero--overlay" style=" background-image: url('/assets/images/tallgrass.jpg');">
        <div class="wrapper">
          <h1 id="page-title" class="page__title" itemprop="headline">Rangeland Analysis Platform</h1>
          <p><a href="/rap/" class="btn btn--light-outline btn--large">Launch RAP</a></p>
        </div>
      </div>
      <div id="main" role="main">
        <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
          <section class="page__content" itemprop="text">
            <h1 class="text-center">Monitor rangelands across the USA</h1>
            <p class="text-center"><a href="https://www.ars.usda.gov/news-events/news/research-news/2023/usda-ars-now-stewarding-the-rangeland-analysis-platform/" target="_blank">NEW: USDA-ARS Now Stewarding the Rangeland Analysis Platform</a></p>
            <div class="callout-red">2022 annual and 16-day production data were updated on May 10, 2023. This change effects the year 2022 and production/biomass data only. We strongly encourage replacing any such data that were downloaded prior to May 10.</div>
            <h1 class="text-center"> Apps and Tools </h1>
            <div class="feature__wrapper text-center">
              <div class="feature__item">
                <div class="archive__item">
                  <div class="archive__item-teaser">
                    <img src="/assets/images/rapSatellite.png" alt="Rangeland Analysis Platform" />
                  </div>
                  <div class="archive__item-body">
                    <h2 class="archive__item-title">RAP</h2>
                    <p><a href="/rap/" class="btn btn--primary">Launch RAP</a></p>
                  </div>
                </div>
              </div>
              <div class="feature__item">
                <div class="archive__item">
                  <div class="archive__item-teaser">
                    <img src="/assets/images/productionExplorer.png" alt="Production Explorer" />
                  </div>
                  <div class="archive__item-body">
                    <h2 class="archive__item-title">Production Explorer</h2>
                    <p><a href="https://wlfw-um.shinyapps.io/production-explorer/" class="btn btn--primary">Launch Production Explorer</a></p>
                  </div>
                </div>
              </div>
              <div class="feature__item">
                <div class="archive__item">
                  <div class="archive__item-teaser">
                    <img src="/assets/images/cheatgrass.png" alt="Cheatgrass app" />
                  </div>
                  <div class="archive__item-body">
                    <h2 class="archive__item-title">Partner Tools</h2>
                    <p><a href="/partner-tools/" class="btn btn--primary">Visit page</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="feature__wrapper">
              <div class="feature__item--left">
                <div class="archive__item">
                  <div class="archive__item-teaser">
                    <img src="/assets/images/rapSatellite.png" alt="Rangeland Analysis Platform" />
                  </div>
                  <div class="archive__item-body">
                    <h2 class="archive__item-title">Data at your fingertips</h2>
                    <div class="archive__item-excerpt">
                      <p>Fast, powerful, and free, the Rangeland Analysis Platform is an innovative online tool that quickly visualizes and analyzes vegetation data for the United States. <a href="/rap/">Launch the app</a> to examine trends at pasture, ranch, watershed, or broader scales. Datasets include:<br /></p>
                      <ul>
                        <li><a href="/products/#cover">Continuous vegetation cover</a>: see abundance and distribution of perennial or annual herbaceous, shrubs, trees, and bare ground<br /></li>
                        <li><a href="/products/#biomass">Annual aboveground biomass</a>: see how much and where production has changed over the years<br /></li>
                        <li><a href="/products/#biomass">16-day aboveground biomass</a> (including current year): see how production has changed within the growing season</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="feature__wrapper">
              <div class="feature__item--right">
                <div class="archive__item">
                  <div class="archive__item-teaser">
                    <img src="/assets/images/ranchers.jpg" alt="Ranchers" />
                  </div>
                  <div class="archive__item-body">
                    <h2 class="archive__item-title">Big landscapes and big data</h2>
                    <div class="archive__item-excerpt">
                      <p>The Rangeland Analysis Platform combines satellite imagery with thousands of on-the-ground vegetation measurements collected by BLM, NPS, and NRCS. The power of cloud computing and machine learning technology allows the RAP to easily map vegetation across the United States.</p>
                    </div>
                    <p><a href="/support/" class="btn btn--primary">Support site</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="feature__wrapper">
              <div class="feature__item--left">
                <div class="archive__item">
                  <div class="archive__item-teaser">
                    <img src="/assets/images/fire.jpg" alt="Fire in tallgrass prairie" />
                  </div>
                  <div class="archive__item-body">
                    <h2 class="archive__item-title">Monitor vegetation to improve rangelands</h2>
                    <div class="archive__item-excerpt">
                      <p>The Rangeland Analysis Platform provides powerful perspective and context for rangeland monitoring. Use it to develop new management strategies and to evaluate current or past management practices.</p>
                    </div>
                    <p><a href="https://youtu.be/lY2-ApD2sec" class="btn btn--primary">Intro video</a></p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
    <%- include('footer', {}); %>
    <script src="/assets/js/main.min.js"></script>
  </body>
</html>
