<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>News - Rangeland Analysis Platform</title>
    <meta name="description" content="Rangeland Analysis Platform">
    <meta name="author" content="Rangeland Analysis Platform">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Rangeland Analysis Platform">
    <meta property="og:title" content="News">
    <meta property="og:url" content="https://rangelands.app/news/">
    <meta property="og:description" content="Rangeland Analysis Platform">
    <link rel="canonical" href="https://rangelands.app/news/">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": null,
        "url": "https://rangelands.app/"
      }
    </script>
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Rangeland Analysis Platform Feed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
    </script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <!--[if IE]>
      <style>
        /* old IE unsupported flexbox fixes */
        .greedy-nav .site-title {
          padding-right: 3em;
        }
        .greedy-nav button {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
        }
      </style>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body class="layout--posts">    
    <%- include('header', {}); %>
    <div class="initial-content">
      <div id="main" role="main">
        <div class="archive">
          <h1 id="page-title" class="page__title">News</h1>
          <ul class="taxonomy__index">
            <li>
              <a href="#2023">
                <strong>2023</strong> <span class="taxonomy__count">1</span>
              </a>
            </li>

            <li>
              <a href="#2022">
                <strong>2022</strong> <span class="taxonomy__count">1</span>
              </a>
            </li>

            <li>
              <a href="#2021">
                <strong>2021</strong> <span class="taxonomy__count">6</span>
              </a>
            </li>

            <li>
              <a href="#2020">
                <strong>2020</strong> <span class="taxonomy__count">1</span>
              </a>
            </li>
          </ul>
          <section id="2023" class="taxonomy__section">
            <h2 class="archive__subtitle">2023</h2>
            <div class="entries-list">
              <div class="list__item">
                <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
                  <h2 class="archive__item-title no_toc" itemprop="headline">
                    <span>ARS assumes stewardship of RAP. 2022 data are now available</span>
                  </h2>
                  <p class="archive__item-excerpt" itemprop="description"></p>
                </article>
              </div>
            </div>
            <a href="#page-title" class="back-to-top">Back to top &uarr;</a>
          </section>
          <section id="2022" class="taxonomy__section">
            <h2 class="archive__subtitle">2022</h2>
            <div class="entries-list">
              <div class="list__item">
                <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
                  <h2 class="archive__item-title no_toc" itemprop="headline">
                    <a href="/products/rapV3/">NEW: Rangeland Analysis Platform version 3.0</a>
                    <a href="/news/rapV3/" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
                  </h2>
                  <p class="archive__item-excerpt" itemprop="description"></p>
                </article>
              </div>
            </div>
            <a href="#page-title" class="back-to-top">Back to top &uarr;</a>
          </section>
          <section id="2021" class="taxonomy__section">
            <h2 class="archive__subtitle">2021</h2>
            <div class="entries-list">
              <div class="list__item">
                <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
                  <h2 class="archive__item-title no_toc" itemprop="headline">
                    <a href="/news/rap-support">New RAP support site
                    </a> <a href="/news/rap-support/" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
                  </h2>
                  <p class="archive__item-excerpt" itemprop="description"></p>
                </article>
              </div>
              <div class="list__item">
                <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
                  <h2 class="archive__item-title no_toc" itemprop="headline">
                    <a href="/news/timeline-for-2020/" rel="permalink">Timeline for 2020 updates</a>
                  </h2>
                  <p class="archive__item-excerpt" itemprop="description">Estimates for 2020 updates are below. Please note that updates are dependent upon USGS reprocessing recent Landsat 8 data and may be delayed.</p>
                </article>
              </div>
              <div class="list__item">
                <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
                  <h2 class="archive__item-title no_toc" itemprop="headline">
                    <a href="https://www.farmers.gov/connect/blog/conservation/new-technology-helps-ranchers-maximize-grass-production">New Technology Helps Ranchers Maximize Grass Production
                    </a> <a href="/news/new-technology/" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
                  </h2>
                  <p class="archive__item-excerpt" itemprop="description"></p>
                </article>
              </div>
            </div>
            <a href="#page-title" class="back-to-top">Back to top &uarr;</a>
          </section>
          <section id="2020" class="taxonomy__section">
            <h2 class="archive__subtitle">2020</h2>
            <div class="entries-list">
              <div class="list__item">
                <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
                  <h2 class="archive__item-title no_toc" itemprop="headline">
                    <a href="/products/#biomass">New dataset: 16-day aboveground biomass - including current year
                    </a> <a href="/news/16day-biomass/" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
                  </h2>
                  <p class="archive__item-excerpt" itemprop="description"></p>
                </article>
              </div>
            </div>
            <a href="#page-title" class="back-to-top">Back to top &uarr;</a>
          </section>
        </div>
      </div>
    </div>
    <%- include('footer', {}); %>
    <script src="/assets/js/main.min.js"></script>
  </body>
</html>
