<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Partner Tools - Rangeland Analysis Platform</title>
    <meta name="description" content="Rangeland Analysis Platform partner tools">
    <meta name="author" content="Rangeland Analysis Platform">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Rangeland Analysis Platform">
    <meta property="og:title" content="Partner Tools">
    <meta property="og:url" content="https://rangelands.app/partner-tools">
    <meta property="og:description" content="Rangeland Analysis Platform partner tools">
    <link rel="canonical" href="https://rangelands.app/partner-tools">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": null,
        "url": "https://rangelands.app/"
      }
    </script>
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Rangeland Analysis Platform Feed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
    </script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <!--[if IE]>
    <style>
      /* old IE unsupported flexbox fixes */
      .greedy-nav .site-title {
        padding-right: 3em;
      }
      .greedy-nav button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
    </style>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body class="layout--splash">
    <%- include('header', {}); %>
    <div class="initial-content">
      <div id="main" role="main">
        <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
          <section class="page__content" itemprop="text">
            <h1 class="text-center" style="margin-top: 2em"> Partner Tools </h1>
            <div class="text-center">
              <div class="feature__item">
                <div class="archive__item">
                  <div class="archive__item-teaser">
                    <img src="/assets/images/greatBasinFire.png" alt="Great Basin fire probability map" />
                  </div>
                  <div class="archive__item-body">
                    <h2 class="archive__item-title">Great Basin fire</h2>
                    <p><a href="/great-basin-fire/" class="btn btn--primary">Visit page</a></p>
                  </div>
                </div>
              </div>
              <div class="feature__item">
                <div class="archive__item">
                  <div class="archive__item-teaser">
                    <img src="/assets/images/cheatgrass.png" alt="Cheatgrass app" />
                  </div>
                  <div class="archive__item-body">
                    <h2 class="archive__item-title">Cheatgrass</h2>
                    <p><a href="https://chohnz.users.earthengine.app/view/wga-weighted-average" target="_blank" class="btn btn--primary">Launch app</a></p>
                  </div>
                </div>
              </div>
              <div class="feature__item">
                <div class="archive__item">
                  <div class="archive__item-teaser">
                    <img src="/assets/images/historicalImagery.png" alt="Historical imagery app" />
                  </div>
                  <div class="archive__item-body">
                    <h2 class="archive__item-title">Historical imagery</h2>
                    <p><a href="https://smorford.users.earthengine.app/view/northern-rocky-mountains-historical-imagery" target="_blank" class="btn btn--primary">Launch app</a></p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
    <%- include('footer', {}); %>
    <script src="/assets/js/main.min.js"></script>
  </body>
</html>
