<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>New RAP support site - Rangeland Analysis Platform</title>
    <meta name="description" content="">
    <meta name="author" content="Rangeland Analysis Platform">
    <meta property="article:author" content="Rangeland Analysis Platform">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Rangeland Analysis Platform">
    <meta property="og:title" content="New RAP support site">
    <meta property="og:url" content="https://rangelands.app/news/rap-support/">
    <meta property="og:description" content="">
    <meta property="article:published_time" content="2021-03-22T00:00:00-06:00">
    <link rel="canonical" href="https://rangelands.app/news/rap-support/">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        
          "@type": "Person",
          "name": null,
          "url": "https://rangelands.app/"
        
      }
    </script>
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Rangeland Analysis Platform Feed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
    </script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <!--[if IE]>
      <style>
        /* old IE unsupported flexbox fixes */
        .greedy-nav .site-title {
          padding-right: 3em;
        }
        .greedy-nav button {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
        }
      </style>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body class="layout--single">
    <%- include('header', {}); %>
    <div class="initial-content">
      <div id="main" role="main">
        <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
          <meta itemprop="headline" content="New RAP support site">
          <meta itemprop="description" content="">
          <meta itemprop="datePublished" content="2021-03-22T00:00:00-06:00">
          <div class="page__inner-wrap">
            <header>
              <h1 id="page-title" class="page__title" itemprop="headline">New RAP support site</h1>
            </header>
            <section class="page__content" itemprop="text">
              <div><a href="https://support.rangelands.app" class="btn btn--primary">Direct link</a></div>
            </section>
            <footer class="page__meta">
              <p class="page__taxonomy">
                <strong><i class="fas fa-fw fa-tags" aria-hidden="true"></i> Tags: </strong>
                <span itemprop="keywords">
                  <a href="/news/tags/#support" class="page__taxonomy-item" rel="tag">support</a>
                </span>
              </p>
              <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> Updated:</strong> <time datetime="2021-03-22T00:00:00-06:00">March 22, 2021</time></p>
            </footer>
            <nav class="pagination">
              <a href="/products/rapV3/" class="pagination--pager" title="Rangeland Analysis Platform version 3.0">Previous</a>
              <a href="/news/timeline-for-2020/" class="pagination--pager" title="Timeline for 2020 updates">Next</a>
            </nav>
          </div>
        </article>
      </div>
    </div>
    <%- include('footer', {}); %>
    <script src="/assets/js/main.min.js"></script>
  </body>
</html>
