<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>RAP 3.0 - Rangeland Analysis Platform</title>
    <meta name="description" content="Rangeland Analysis Platform">
    <meta name="author" content="Rangeland Analysis Platform">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Rangeland Analysis Platform">
    <meta property="og:title" content="RAP 3.0">
    <meta property="og:url" content="https://rangelands.app/products/rapV3/">
    <meta property="og:description" content="Rangeland Analysis Platform">
    <link rel="canonical" href="https://rangelands.app/products/rapV3/">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": null,
        "url": "https://rangelands.app/"
      }
    </script>
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Rangeland Analysis Platform Feed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
    </script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <!--[if IE]>
    <style>
      /* old IE unsupported flexbox fixes */
      .greedy-nav .site-title {
        padding-right: 3em;
      }
      .greedy-nav button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
    </style>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>
  <body class="layout--single wide2">
    <%- include('header', {}); %>
    <div class="initial-content">
      <div id="main" role="main">
        <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
          <meta itemprop="headline" content="RAP 3.0">
          <div class="page__inner-wrap">
            <header>
              <h1 id="page-title" class="page__title" itemprop="headline">RAP 3.0</h1>
            </header>
            <section class="page__content" itemprop="text">
              <p>On January 01, 2022 the Rangeland Analysis Platform updated cover and biomass
              datasets to version 3.0.</p>

              <p><strong>Why a new version?</strong><br />
              RAP updates occur every two years. The 2022 update was moved up due to the
              deprecation of Landsat Collection 1, which occurred December 31, 2021.</p>

              <p><strong>What is new in version 3.0?</strong><br />
              Primary changes include:</p>
              <ul>
                <li>Use of Landsat Collection 2</li>
                <li>Addition of the National Park Service Northern Colorado Plateau Network (NCPN) monitoring data for cover training</li>
                <li>Identify agriculture, development, and water</li>
                <li>Addition of the eastern states</li>
              </ul>

              <p><em>Cover versions</em></p>

              <table>
                <thead>
                  <tr>
                    <th style="text-align: center"> </th>
                    <th style="text-align: center">Cover 1.0</th>
                    <th style="text-align: center">Cover 2.0</th>
                    <th style="text-align: center">Cover 3.0</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="text-align: center">Model</td>
                    <td style="text-align: center">Random Forest</td>
                    <td style="text-align: center">Convolutional Neural Network</td>
                    <td style="text-align: center">Convolutional Neural Network</td>
                  </tr>
                  <tr>
                    <td style="text-align: center">Data</td>
                    <td style="text-align: center">31,300 plots</td>
                    <td style="text-align: center">57,792 plots</td>
                    <td style="text-align: center">74,966 plots</td>
                  </tr>
                  <tr>
                    <td style="text-align: center">Landsat measurements</td>
                    <td style="text-align: center">3; seasonal averages</td>
                    <td style="text-align: center">12; 64 day averages</td>
                    <td style="text-align: center">12; 64 day averages</td>
                  </tr>
                  <tr>
                    <td style="text-align: center">Predictors</td>
                    <td style="text-align: center">40; variable per group</td>
                    <td style="text-align: center">10; Landsat based</td>
                    <td style="text-align: center">10; Landsat based</td>
                  </tr>
                  <tr>
                    <td style="text-align: center">Uncertainty</td>
                    <td style="text-align: center">-</td>
                    <td style="text-align: center">pixel-level</td>
                    <td style="text-align: center">-</td>
                  </tr>
                  <tr>
                    <td style="text-align: center">Prediction pipeline</td>
                    <td style="text-align: center">Google Earth Engine</td>
                    <td style="text-align: center">Google Earth Engine &amp; AI Platform</td>
                    <td style="text-align: center">Google Earth Engine &amp; AI Platform</td>
                  </tr>
                </tbody>
              </table>

              <p><br />
              <em>Cover error metrics</em></p>

              <table>
                <thead>
                  <tr>
                    <th style="text-align: center">Vegetation cover</th>
                    <th style="text-align: center">Annual forb and grass</th>
                    <th style="text-align: center">Perennial forb and grass</th>
                    <th style="text-align: center">Shrub</th>
                    <th style="text-align: center">Tree</th>
                    <th style="text-align: center">Litter</th>
                    <th style="text-align: center">Bare ground</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="text-align: center"><strong>Mean absolute error (%) cover 3.0</strong></td>
                    <td style="text-align: center">7.0</td>
                    <td style="text-align: center">10.2</td>
                    <td style="text-align: center">6.2</td>
                    <td style="text-align: center">2.6</td>
                    <td style="text-align: center">5.7</td>
                    <td style="text-align: center">6.5</td>
                  </tr>
                  <tr>
                    <td style="text-align: center"><strong>Root mean square error (%) cover 3.0</strong></td>
                    <td style="text-align: center">11.0</td>
                    <td style="text-align: center">14.0</td>
                    <td style="text-align: center">8.8</td>
                    <td style="text-align: center">6.7</td>
                    <td style="text-align: center">7.8</td>
                    <td style="text-align: center">9.6</td>
                  </tr>
                  <tr>
                    <td style="text-align: center">Mean absolute error (%) cover 2.0</td>
                    <td style="text-align: center">7.0</td>
                    <td style="text-align: center">10.3</td>
                    <td style="text-align: center">5.8</td>
                    <td style="text-align: center">2.8</td>
                    <td style="text-align: center">5.7</td>
                    <td style="text-align: center">6.7</td>
                  </tr>
                  <tr>
                    <td style="text-align: center">Root mean square error (%) cover 2.0</td>
                    <td style="text-align: center">11.0</td>
                    <td style="text-align: center">14.0</td>
                    <td style="text-align: center">8.3</td>
                    <td style="text-align: center">6.8</td>
                    <td style="text-align: center">7.9</td>
                    <td style="text-align: center">9.8</td>
                  </tr>
                  <tr>
                    <td style="text-align: center">Mean absolute error (%) cover 1.0</td>
                    <td style="text-align: center">7.8</td>
                    <td style="text-align: center">11.1</td>
                    <td style="text-align: center">6.9</td>
                    <td style="text-align: center">4.7</td>
                    <td style="text-align: center">-</td>
                    <td style="text-align: center">7.3</td>
                  </tr>
                  <tr>
                    <td style="text-align: center">Root mean square error (%) cover 1.0</td>
                    <td style="text-align: center">11.8</td>
                    <td style="text-align: center">14.9</td>
                    <td style="text-align: center">9.9</td>
                    <td style="text-align: center">8.5</td>
                    <td style="text-align: center">-</td>
                    <td style="text-align: center">10.6</td>
                  </tr>
                </tbody>
              </table>

              <p><br />
              <em>Biomass</em><br />
              Biomass 3.0 uses cover 3.0 for functional group partitioning. Minor alterations
              were made to improve biomass partitioning and estimates.</p>

              <p><br />
              <strong>What will happen with cover and biomass 2.0?</strong><br />
              Cover and biomass 2.0 data can be downloaded at
              <a href="http://rangeland.ntsg.umt.edu/data/rap/">http://rangeland.ntsg.umt.edu/data/rap/</a> and are also archived at
              <a href="https://zenodo.org/communities/rangeland-analysis-platform/">Zenodo</a>.</p>

              <p><strong>How often will RAP be updated?</strong><br />
              Major version updates (e.g., 2.0 to 3.0) will be assessed on a two year cycle,
              and will occur if there are significant changes, i.e., model changes, additional
              features, etc. The entire time period will be produced to ensure consistency.
              Previous major versions will be produced and maintained for one year after
              updating.</p>
            </section>
            <footer class="page__meta"></footer>
          </div>
        </article>
      </div>
    </div>
    <%- include('footer', {}); %>
    <script src="/assets/js/main.min.js"></script>
  </body>
</html>
