<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Rangeland Analysis Platform Knowledge Base</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Supporting RAP insights on your rangelands"/>
    <meta name="author" content="Rangeland Analysis Platform"/>
    <link rel="canonical" href="index.html"/>
    <link rel="stylesheet" href="/assets/css/support.css">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/rapIconSmall.png">
    <link rel="shortcut icon" type="image/png" href="assets/icons/rapIconSmall.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>

  </head>  
  <body>  
    <header id="mainNav" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <span class="brand-logo"><span/>
          </a>
        </div><!--/container-->
      </div><!--/navbar-inner-->
    </header>
    <section id="docsSearch">
      <h1>Supporting vegetation insights on your rangelands</h1>
    </section><!--/docsSearch-->
    <section id="contentArea" class="container-fluid">
      <!-- Site has only one collection -->
      <section class="category-list">
        <a class="category" id="category-6" href="/support/46-new-to-rap-start-here-landing">
          <h3>New to RAP - Start Here!</h3>
          <p></p>
          <p class="article-count">                                        
            <span class="notranslate">3</span> articles
          </p>
        </a><!-- /category -->
        <a class="category" id="category-5" href="/support/47-what-is-rap-landing">
          <h3>What is RAP?</h3>
          <p></p>
          <p class="article-count">                                        
            <span class="notranslate">6</span> articles
          </p>
        </a><!-- /category -->
        <a class="category" id="category-7" href="/support/45-using-rap-landing">
          <h3>How to Use RAP</h3>
          <p></p>
          <p class="article-count">                                        
            <span class="notranslate">13</span> articles
          </p>
        </a><!-- /category -->
        <a class="category" id="category-51" href="/support/52-troubleshooting-and-faqs-landing">
          <h3>Troubleshooting and FAQs</h3>
          <p></p>
          <p class="article-count">                                        
            <span class="notranslate">6</span> articles
          </p>
        </a><!-- /category -->
      </section><!-- /category-list -->                
    </section><!--/.fluid-container-->
    <footer>
      <p class="footer-text">&copy; <a href="/">Rangeland Analysis Platform</a> 2023.</p>
    </footer>
  </body>
</html>