<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Terms of service - Rangeland Analysis Platform</title>
    <meta name="description" content="Rangeland Analysis Platform">
    <meta name="author" content="Rangeland Analysis Platform">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Rangeland Analysis Platform">
    <meta property="og:title" content="Terms of service">
    <meta property="og:url" content="https://rangelands.app/tos/">
    <meta property="og:description" content="Rangeland Analysis Platform">
    <link rel="canonical" href="https://rangelands.app/tos/">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": null,
        "url": "https://rangelands.app/"
      }
    </script>
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Rangeland Analysis Platform Feed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <!--[if IE]>
    <style>
      /* old IE unsupported flexbox fixes */
      .greedy-nav .site-title {
        padding-right: 3em;
      }
      .greedy-nav button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
    </style>    
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNLXMV8TB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YNLXMV8TB7');
    </script>
    
  </head>

  <body class="layout--single wide2">
    <nav class="skip-links">
      <h2 class="screen-reader-text">Skip links</h2>
      <ul>
        <li><a href="#site-nav" class="screen-reader-shortcut">Skip to primary navigation</a></li>
        <li><a href="#main" class="screen-reader-shortcut">Skip to content</a></li>
        <li><a href="#footer" class="screen-reader-shortcut">Skip to footer</a></li>
      </ul>
    </nav>

    <!--[if lt IE 9]>
    <div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->
    
    <div class="masthead">
      <div class="masthead__inner-wrap">
        <div class="masthead__menu">
          <nav id="site-nav" class="greedy-nav">
            <a class="site-logo" href="/"><img src="/assets/images/rapIconSmall.png" alt=""></a>
            <a class="site-title" href="/">Rangeland Analysis Platform</a>
            <ul class="visible-links">
              <li class="masthead__menu-item">
                <a href="/rap/">Launch RAP</a>
              </li><li class="masthead__menu-item">
                <a href="/news/">News</a>
              </li><li class="masthead__menu-item">
                <a href="/products/">Products</a>
              </li><li class="masthead__menu-item">
                <a href="/support/">Support</a>
              </li>
            </ul>
            <button class="greedy-nav__toggle hidden" type="button">
              <span class="visually-hidden">Toggle menu</span>
              <div class="navicon"></div>
            </button>
            <ul class="hidden-links hidden"></ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="initial-content">
      <div id="main" role="main">
        <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
          <meta itemprop="headline" content="Terms of service">
          <div class="page__inner-wrap">
            <header>
              <h1 id="page-title" class="page__title" itemprop="headline">Terms of service</h1>
            </header>
            <section class="page__content" itemprop="text">
              <p>Terms of Use (“Terms”)<br />
              Last updated: March 10, 2023</p>

              <p>Please read these Terms of Use (“Terms”, “Terms of Use”) carefully before using
              the Rangeland Analysis Platform web application (the
              “Service”) operated by Rangeland Analysis Platform (“us”,
              “we”, or “our”).</p>

              <p>Your access to and use of the Service is conditioned upon your acceptance of and
              compliance with these Terms. These Terms apply to all visitors, users and others
              who wish to access or use the Service.</p>

              <p>By accessing or using the Service you agree to be bound by these Terms. If you
              disagree with any part of the terms then you do not have permission to access
              the Service.</p>

              <p><strong>Communications</strong><br />
              By utilizing our service, you agree to subscribe to newsletters, marketing or
              promotional materials and other information we may send. However, you may opt
              out of receiving any, or all, of these communications from us by following the
              unsubscribe link or instructions provided in any email we send.</p>

              <p><strong>Content</strong><br />
              Our Service allows you to post, link, store, share and otherwise make available
              certain information, text, graphics, videos, or other material (“Content”). You
              are responsible for the Content that you post on or through the Service,
              including its legality, reliability, and appropriateness.</p>

              <p>By posting Content on or through the Service, You represent and warrant that:
              (i) the Content is yours (you own it) and/or you have the right to use it and
              the right to grant us the rights and license as provided in these Terms, and
              (ii) that the posting of your Content on or through the Service does not violate
              the privacy rights, publicity rights, copyrights, contract rights or any other
              rights of any person or entity. We reserve the right to terminate the account of
              anyone found to be infringing on a copyright.</p>

              <p>You retain any and all of your rights to any Content you submit, post or display
              on or through the Service and you are responsible for protecting those rights.
              We take no responsibility and assume no liability for Content you or any third
              party posts on or through the Service. However, by posting Content using the
              Service you grant us the right and license to use, modify, publicly perform,
              publicly display, reproduce, and distribute such Content on and through the
              Service.</p>

              <p>Rangeland Analysis Platform has the right but not the
              obligation to monitor and edit all Content provided by users.</p>

              <p>In addition, Content found on or through this Service are the property of
              Rangeland Analysis Platform or used with permission. You
              may not distribute, modify, transmit, reuse, download, repost, copy, or use said
              Content, whether in whole or in part, for commercial purposes or for personal
              gain, without express advance written permission from us.</p>

              <p><strong>Intellectual Property</strong><br />
              The Service and its original content (excluding Content provided by users),
              features and functionality are and will remain the exclusive property of
              Rangeland Analysis Platform and its licensors. The
              Service is protected by copyright, trademark, and other laws of both the United
              States and foreign countries. Our trademarks and trade dress may not be used in
              connection with any product or service without the prior written consent of
              Rangeland Analysis Platform.</p>

              <p><strong>Links To Other Web Sites</strong><br />
              Our Service may contain links to third party web sites or services that are not
              owned or controlled by Rangeland Analysis Platform.</p>

              <p>Rangeland Analysis Platform has no control over, and
              assumes no responsibility for the content, privacy policies, or practices of any
              third party web sites or services. We do not warrant the offerings of any of
              these entities/individuals or their websites.</p>

              <p>You acknowledge and agree that Rangeland Analysis Platform, University of
              Montana shall not be responsible or liable, directly or indirectly, for any
              damage or loss caused or alleged to be caused by or in connection with use of or
              reliance on any such content, goods or services available on or through any such
              third party web sites or services.</p>

              <p>We strongly advise you to read the terms and conditions and privacy policies of
              any third party web sites or services that you visit.</p>

              <p><strong>Termination</strong><br />
              We may terminate or suspend your account and bar access to the Service
              immediately, without prior notice or liability, under our sole discretion, for
              any reason whatsoever and without limitation, including but not limited to a
              breach of the Terms.</p>

              <p>If you wish to terminate your account, you may simply discontinue using the
              Service.</p>

              <p>All provisions of the Terms which by their nature should survive termination
              shall survive termination, including, without limitation, ownership provisions,
              warranty disclaimers, indemnity and limitations of liability.</p>

              <p><strong>Indemnification</strong><br />
              You agree to defend, indemnify and hold harmless Rangeland Analysis Platform and its licensee and licensors, and their employees,
              contractors, agents, officers and directors, from and against any and all
              claims, damages, obligations, losses, liabilities, costs or debt, and expenses
              (including but not limited to attorney’s fees), resulting from or arising out of
              a) your use and access of the Service, by you or any person using your account
              and password; b) a breach of these Terms, or c) Content posted on the Service.</p>

              <p><strong>Limitation Of Liability</strong><br />
              In no event shall Rangeland Analysis Platform , nor its
              directors, employees, partners, agents, suppliers, or affiliates, be liable for
              any indirect, incidental, special, consequential or punitive damages, including
              without limitation, loss of profits, data, use, goodwill, or other intangible
              losses, resulting from (i) your access to or use of or inability to access or
              use the Service; (ii) any conduct or content of any third party on the Service;
              (iii) any content obtained from the Service; and (iv) unauthorized access, use
              or alteration of your transmissions or content, whether based on warranty,
              contract, tort (including negligence) or any other legal theory, whether or not
              we have been informed of the possibility of such damage, and even if a remedy
              set forth herein is found to have failed of its essential purpose.</p>

              <p><strong>Disclaimer</strong><br />
              Your use of the Service is at your sole risk. The Service is provided on an “AS
              IS” and “AS AVAILABLE” basis. The Service is provided without warranties of any
              kind, whether express or implied, including, but not limited to, implied
              warranties of merchantability, fitness for a particular purpose,
              non-infringement or course of performance. Rangeland Analysis Platform its subsidiaries, affiliates, and its licensors do not
              warrant that a) the Service will function uninterrupted, secure or available at
              any particular time or location; b) any errors or defects will be corrected; c)
              the Service is free of viruses or other harmful components; or d) the results of
              using the Service will meet your requirements.</p>

              <p><strong>Exclusions</strong><br />
              Some jurisdictions do not allow the exclusion of certain warranties or the
              exclusion or limitation of liability for consequential or incidental damages, so
              the limitations above may not apply to you.</p>

              <p><strong>Governing Law</strong><br />
              These Terms shall be governed and construed in accordance with the laws of
              Montana, United States, without regard to its conflict of law provisions. Our
              failure to enforce any right or provision of these Terms will not be considered
              a waiver of those rights. If any provision of these Terms is held to be invalid
              or unenforceable by a court, the remaining provisions of these Terms will remain
              in effect. These Terms constitute the entire agreement between us regarding our
              Service, and supersede and replace any prior agreements we might have had
              between us regarding the Service.</p>

              <p><strong>Changes</strong><br />
              We reserve the right, at our sole discretion, to modify or replace these Terms
              at any time. If a revision is material we will provide at least 30 days notice
              prior to any new terms taking effect. What constitutes a material change will be
              determined at our sole discretion. By continuing to access or use our Service
              after any revisions become effective, you agree to be bound by the revised
              terms. If you do not agree to the new terms, you are no longer authorized to use
              the Service.</p>

              <p><strong>Contact Us</strong><br />
              If you have any questions about these Terms, please contact us.</p>
            </section>
            <footer class="page__meta"></footer>
          </div>
        </article>
      </div>
    </div>
    <div id="footer" class="page__footer">
      <footer>
        <div class="page__footer-follow">
          <ul class="social-icons"></ul>
        </div>
        <div class="page__footer-copyright"><a href="/changelog/">Changelog</a> | <a href="/tos/">Terms of Service</a></div>
        <div class="page__footer-copyright">Made with data collected by  
          <a href="https://www.blm.gov/about/how-we-manage/assessment-inventory-and-monitoring-strategy" rel="nofollow">BLM AIM</a>, 
          <a href="https://www.nps.gov/im/ncpn/index.htm" rel="nofollow">NPS NPCN</a>, & 
          <a href="https://www.nrcs.usda.gov/wps/portal/nrcs/main/national/technical/nra/nri/" rel="nofollow">NRCS NRI</a>
        </div>
        <div class="page__footer-copyright">Made with <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a></div>
      </footer>
    </div>
    <script src="/assets/js/main.min.js"></script>
  </body>
</html>
